[2014-01-16 01:38] davidfowl opened #1 "Mvc sucks bro"
Hahaha

[2014-01-16 01:40] #1 closed, assigned to nobody

[2014-03-03 23:26] glennc opened #2 "Make ILogger and ILoggerFactory assembly neutral"

[2014-03-03 23:29] glennc opened #3 "Review ILogger log method"
Need to have severity, object, callback to stringify.

Add `bool IsEnabled(severity)`

[2014-03-03 23:30] glennc opened #4 "Make Logging.Severity enum assembly neutral"

[2014-03-03 23:33] glennc opened #5 "Default implementation of logger for K"
- Console.WriteLine
- OutputDebugString
- ETW

[2014-03-03 23:35] glennc opened #6 "EventLog logger for K"
Create a new package for an EventLog sink and expose the API that the user would put in their startup class: `app.UseEventLog();`

Figure out how to register the category name that requires elevated privilege. P/Invoke for accessing event log.

[2014-03-03 23:37] glennc opened #7 "Verify external loggers can work"
Attempt to get one of the third party logging frameworks to work.

[2014-07-10 16:36] davidfowl opened #15 "Update CLR dependencies for K target framework"
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/project.json#L11
**System.Diagnostics.Trace** should be **System.Diagnostics.TraceSource**

[2014-07-21 23:04] #15 closed, assigned to Tratcher

[2014-08-06 23:52] Praburaj opened #18 "Comment carries Microsoft.Owin"
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/DiagnosticsLoggerFactory.cs#L26

Creates a factory named "Microsoft.Owin".

[2014-08-27 17:30] kichalla opened #21 "Provide async methods on the ILogger interface"
I have an exception filter where I would like to log exception details to the database...I currently have a custom interface for logging asynchronously to database...

**Example**
[code]

[2014-09-10 00:12] suhasj opened #23 "[NLog] Filtering logging by type or event id"
Hooking up the current NLog provider helps in logging but the log file generated has log statements from framework components as well. Should we provide a way to customize the log statements based on types or/and event ids too ?

[2014-09-30 04:49] Eilon opened #24 "TraceType enum should not pretend to be a flags enum (because it's not)"
This enum: https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging.Interfaces/TraceType.cs

It uses powers of 2, but is not a flags enum. It should just use 0, 1, 2, 3, etc.

[2014-09-30 04:50] Eilon opened #25 "Implement console logger with color coding"
It should use a color coding system similar to what the other command line tools do. The colors should indicate the severity of the message.

[2014-09-30 05:31] Eilon opened #26 "Code cleanup in logging code"
Some misc code cleanup:

https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/DiagnosticsScope.cs
- Rename `_disposedValue` to `_isDisposed`

https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/Logger.cs
- Mark fields `readonly` as appropriate (including nested class's fields)
- Don't initialize fields to default values (e.g. `bool` to `false`)
- Fix na

[2014-10-02 16:40] #26 closed, assigned to nobody

[2014-10-06 16:18] #24 closed, assigned to nobody

[2014-10-06 16:25] #4 closed, assigned to lodejard

[2014-10-06 16:25] #2 closed, assigned to lodejard

[2014-10-06 18:06] avanderhoorn opened #32 "Best way to find logging usage"
Just wondering, what the best way to:
- find our where logging is currently being used in the new stack?
- provide feedback on the logging that is in place for various projects?
- what the roadmap is like for rolling logging through various projects?

I guess the overall question is, is there somewhere the we have documented what current state of logging is in place for each "project" so that we/t

[2014-10-07 14:54] #32 closed, assigned to nobody

[2014-10-07 23:49] SonjaKhan opened #33 "Move TestLogger and helpers to aspnet/Logging"
Move the [following files](https://github.com/aspnet/Mvc/tree/dev/test/Microsoft.AspNet.Mvc.Core.Test/Logging) into the Logging Repo so we can easily test Logging from any repo without having to create (or replicate) supporting classes.

[2014-10-09 23:45] SonjaKhan opened #34 "Implement scoping for the console logger"

[2014-10-14 17:49] sonjakhan opened #35 "Fix project.json's and Logging.sln"
The [refactoring commit](https://github.com/aspnet/Logging/commit/36fdf14f83f744425f58fc325cb268a832c87e39) has a bad copy of the Logging.sln file due to outdated project.json files.

[2014-10-14 21:16] #3 closed, assigned to nobody

[2014-10-14 21:17] #35 closed, assigned to nobody

[2014-10-15 01:05] sonjakhan opened #37 "Make console logging thread safe"
Prevent multiple threads from changing the console color at undesired times

[2014-10-15 16:37] #25 closed, assigned to nobody

[2014-10-16 17:38] sonjakhan opened #39 "Invert TraceType Enum Values to be more intuitive"
Have more critical errors be higher numbers. @rustd

loggerfactory.AddConsole((_, traceType) => traceType >= TraceType.Information);

is more intuitive than the other way around

[2014-10-17 18:43] sonjakhan opened #42 "Rename TraceType enum to LogLevel"
The values of the TraceType enum can be interpreted in two ways:
- as a verbosity level
- as a severity level
#39 changes the values to reflect a severity level, so the enum should be renamed to avoid further confusion.

[2014-10-20 19:14] SonjaKhan opened #46 "Console Logger color persists upon unexpected exit in cmd"
The console logger will change the console prompt color if the program exits before the logs are written out. I've only seen this behavior in cmd, powershell seems to be OK.

[2014-10-20 23:01] #39 closed, assigned to nobody

[2014-10-20 23:02] #37 closed, assigned to nobody

[2014-10-22 18:05] kanchanm opened #47 "Microsoft.Framework.Logging.NLog versioned incorrectly"
The Microsoft.Framework.Logging.NLog is not versioned with -beta*-timestamp on myget.org. It is versioned as 1.0.0. We should fix it.

Note: also cleanup the older 1.0.0 packages from myget.org while fixing this.

[2014-10-23 17:50] #47 closed, assigned to Tratcher

[2014-10-28 00:38] divega opened #50 "Consider adding GetDefaultServices() and AddLogging() to Logging"
Currently Logging defines and provides default implementation of services, e.g. ILoggerFactory but unlike most other framework components it does not define either a GetDefaultServices([IConfiguration]) method or an AddLogging(this IServiceCollection, [IConfiguration]) sugar extension method. Perhaps the reasoning was been that Logging only needs to be added by Hosting, but making this change woul

[2014-10-28 10:28] tugberkugurlu opened #51 "Error while installing 'Microsoft.Framework.Logging.Console' in a good-old console application"
## Story

I would like to integrate with Microsoft.Framework.Logging.Interfaces in my existing application console application (to ease the process of migration when vNext is actually prod). For this integration, I would like to initially have the following packages installed:
- Microsoft.Framework.Logging.Interfaces
- Microsoft.Framework.Logging
- Microsoft.Framework.Logging.Console
## Problem

W

[2014-10-28 18:36] #51 closed, assigned to nobody

[2014-10-31 20:39] lodejard opened #55 "Add ILogger methods to write templated messages"
[code]

Assuming this would take level, messageTemplate, and params object[] values... Assuming there would be other overloads like InformationTemplate and ErrorTemplate that would call the base one with the enum value. I guess there would be overloads that take an exception also...

The extension method would call the ILogger _logger.Write() with the arguments for `object state, Exception eceptio

[2014-10-31 22:32] suhasj opened #56 "Information log statements flipping colors on OSX terminal"
On OSX, the first time an Information level message is logged on the terminal, the foreground color is grey and background is white. Subsequent statements colors are switched with foreground color being white and background being black.

The logging should preserve the color schema of the terminal window between logging statements

[2014-11-04 18:28] eugeneagafonov opened #57 "Consider having easy way to access and log custom data as a sort of pseudo context"
While developing several projects for my clients I've found out that injecting logging services into controllers and services seems to be uncomfortable to use, I have to add a logging service into every constructor of each controller and service. Property injecting works slightly better, but the best way I've found is providing static class which serves as a pseudo context, having scope based serv

[2014-11-05 19:12] #57 closed, assigned to nobody

[2014-11-06 19:45] SonjaKhan opened #60 "Clean up the namespaces of Utility files"
see #59 for utility files

[2014-11-07 16:56] sonjakhan opened #61 "Rename LogLevel enum to LoggerLevel?"
@loudej

[2014-11-07 16:56] #42 closed, assigned to nobody

[2014-11-12 11:03] tugberkugurlu opened #62 "Distributing LoggerFactoryExtensions and LoggerExtensions as source files"
As `ILoggerFactory` and `ILogger` are both assembly neutral, I really don't need **Microsoft.Framework.Logging** library most of the time. I may need **Microsoft.Framework.Logging.Interfaces** if I'm outside of *aspnet50* and *aspnetcore50*.

However, **Microsoft.Framework.Logging** library contains really useful extension methods for `ILoggerFactory` and `ILogger`. I'd love to see these extension

[2014-11-13 13:05] johnkors opened #63 "LibLog"
Is this project inspired by LibLog? :)

https://github.com/damianh/LibLog

[2014-11-13 15:33] #63 closed, assigned to nobody

[2014-11-17 17:16] #61 closed, assigned to nobody

[2014-11-17 18:14] Tratcher opened #65 "ILoggerFactory.AddConsole() needs a LogLevel overload"
The AddConsole method currently has the following overloads:
[code]

If I want to enable verbose then it looks like this:
`factory.AddConsole((s, l) => true);`

This would be much clearer:
factory.AddConsole(LogLevel.Verbose);

[2014-11-17 23:59] Tratcher opened #67 "Add the ability to flow log scope manually"
Today when you call ILogger.CreateScope the scope is tracked using the thread context until you dispose it.  There are several places where the thread context does not naturally flow and needs to be updated manually (TaskCompletionSource.TrySetResult, Task.Run, Task.Factory.StartNew, etc.).

WebListener is the worst example so far. We want to have it establish a scope around the lifetime of a requ

[2014-11-19 02:00] SonjaKhan opened #68 "Rename LoggerStructureBase to ReflectionBasedLogValues"

[2014-11-24 23:46] avanderhoorn opened #72 "Concerns around how log messages are evolving"
Watching how logging is rolling out and I'm getting a little concerned around how `ILoggerStructure` seems to be evolving as a shortcut to not having type properties.

If we take a look at the new `ControllerActionDescriptorValues` log object which is being proposed, it looks like the [following](https://github.com/aspnet/Mvc/blob/logging-assemblies/src/Microsoft.AspNet.Mvc.Core/Logging/Controller

[2014-11-26 19:43] avanderhoorn opened #74 "Limit use of ReflectionBasedLogValues"
I'm wondering if, as a guideline, we can try not to use `LoggerStructureBase` for anything in the framework (in the aspnet github org)? I can see reasons for it to exist but I'm worried about it being used for core logging.

My reasoning around this is that when we start listing to logs, if we are relying heavenly on `ILoggerStructure`, triggering the style of reflection on every single log messag

[2014-12-08 00:20] lodejard opened #79 "ILoggerStructure should not have a Format method"
The purpose of the interface is not to string-ify the object... That's what the `Func<object,exception,string>` formatter is for.

[2014-12-10 05:19] lodejard opened #80 "Formatter shouldn't add exception for overloads where exception isn't passed in"
Specific example,
[code]
the formatter there always adds a newline and the exception, when it should just be the ILS formatted message

[2014-12-16 08:59] JesperTreetop opened #83 "Logger provider to log exceptions to Windows Event Log"
ASP.NET 4 and older logs escaped exceptions to the Windows Event Log with the event ID 1309. Is a logger provider that logs this information in a similar way planned?

([I started issue 72 in Diagnostics](https://github.com/aspnet/Diagnostics/issues/72) because I thought this would be a middleware or at least a shorthand extension (something like `app.LogErrorsToWindowsEventLog();`) and was asked

[2014-12-17 00:21] Praburaj opened #84 "Move test classes out of the main Logging assembly"
_From @Tratcher on December 12, 2014 0:31_

TestLoggerFactory & company do not belong in the primary Logging assembly. Consider putting them in Microsoft.AspNet.Hosting.TestHost or some other testing related package.

_Copied from original issue: aspnet/Diagnostics#70_

[2014-12-27 01:33] suhasj opened #85 "ILogger Write method should be async by default"
This might be resolved as a dupe of https://github.com/aspnet/Logging/issues/21

but I think the `Write` method and it extensions should be async by default since the probability of them being an I/O operation is quite high.

[2014-12-30 20:43] kscott5 opened #86 "Assembly File Load Exception with SampleApp"
[code]

[2015-01-02 18:38] kscott5 commented on #86
That is the difference between the release and master branch?

[2015-01-02 18:41] Praburaj commented on #86
This contains some inforamtion on these branches : https://github.com/aspnet/Home/wiki/Engineering-guidelines#branch-strategy

[2015-01-02 19:29] kscott5 commented on #86
I appreciate the help with this. I removed the contains in the following directories (OK):
@powershell remove-item %USERPROFILE%\.kre -recurse -force
@powershell remove-item %USERPROFILE%\.kpm -recurse -force

I executed the following commands (OK):

git clone https://github.com/aspnet/kvm.git --branch master
git clone https://github.com/aspnet/Home.git --branch master
git clone https://github.com

[2015-01-02 19:35] Praburaj commented on #86
The below error is possibly because your default nuget feed is disabled for some reason. Open VS -> Tools -> Options -> Nuget sources -> Enable your https://www.nuget.org/api/v2 feed and do a `kpm restore` again.

[code]

[2015-01-02 19:43] kscott5 commented on #86
I pull the release branch, execute the kpm restore, then master branch and all works.

But I'm not using VS. Could this be set within Nuget.config?

[2015-01-02 19:47] Praburaj commented on #86
Yes you could set that in the `Nuget.config`. Open `%appdata%\NuGet\NuGet.Config` and see if your default nuget feed is under `<disabledPakageSources>` node. move it in to `<packageSources>` node.

[2015-01-02 21:36] kscott5 opened #87 "LogLevel"
Please correct me but isn't LogLevel an internal enum of the System namespace. There seems to be mismatch between what's in master branch and what's been displayed on Logging/samples/SampleApp/Program.cs

[2015-01-03 00:42] Praburaj commented on #87
No. This `LogLevel` is defined in https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging.Interfaces/LogLevel.cs.

[2015-01-03 16:25] kscott5 commented on #87
Great. But you had me pull from the master branch which is using TraceType.cs

[2015-01-03 16:49] Praburaj commented on #87
Yeah looks like `TraceType` got renamed to `LogLevel`.

[2015-01-03 16:49] #87 closed

[2015-01-08 19:34] kscott5 commented on #86
After having further issues, I decided to scratch the whole thing and start over. So, tell me what are the correct steps to getting KRE update and running. Should I pull from dev or master branches? Can you mix dev and master?

[code]

Note: I have windows 7 pro with .net 3.

[2015-01-08 20:03] Praburaj commented on #86
`master` corresponds to `beta1`. `dev` corresponds to `rc1` (a future release). You can choose any of these, but just make sure that you have all binaries, kre etc are from the same corresponding branch. You cannot mix branches.

Where did you install `kvm` from? Is your kvm pointing to master feed or dev feed?

[2015-01-09 17:49] kscott5 commented on #86
I tried both but the binaries could have gotten mixed. I will try dev branch and see what happens

[2015-01-12 19:15] Praburaj opened #89 "ILogger.Write to support taking in all types"
Today when I want to write an `enum` or an `int` to the logger stream using `ILogger.WriteInformation` etc, I have to do a `ToString()` which seems to be painful for most common scenarios. It will be nice to have it something like `Console.WriteLine()` where we can pass in anytype. By default can we do a ToString() internally?

[2015-01-12 21:47] Praburaj commented on #18
Fixed.

[2015-01-12 21:47] #18 closed

[2015-01-13 06:37] Xiaohongt opened #90 "Log events in file or console from Logging.Serilog don't contain the logger category"
When use Logging.Serilog in app, log events in file or console from Serilog don't contain the logger category, so it will not easy to identify the component that logged the information.

Note, Log events from Logging.Console /Logging.NLog contain the logger category.

Repro steps:
1). You can update SampleApp in Logging to repro, add Microsoft.Framework.Logging.Serilog for dependencies in project.

[2015-01-13 19:14] suhasj opened #91 "Class name can be beautified when generic class in Console logger"
When the Console logger is hooked into the application, the logs are of the format [classname] [log level] and so on. The class is the fully qualified class name and looks good for normal class. When the class is a generic type, it prints it with a tilde and the closed type `T` is printed with full assembly information. This makes it hard to read on the console and does not look good. It would be

[2015-01-13 21:45] Eilon commented on #91
I think I pointed @NTaylorMullen a while ago to some ancient code I write that prints beautified generic type names. Taylor, do you have that around somewhere?

[2015-01-13 22:03] Praburaj commented on #89
Fixed.

[2015-01-13 22:03] #89 closed

[2015-01-13 22:37] NTaylorMullen commented on #91
Forwarded :smile:

[2015-01-13 22:42] Praburaj commented on #65
This is fixed.

[2015-01-13 22:42] #65 closed

[2015-01-14 20:20] suhasj commented on #91
Thanks :)

[2015-01-17 00:47] Xiaohongt commented on #90
We can add it in outputTemplate.

[2015-01-17 00:47] #90 closed

[2015-01-19 10:17] borgdylan opened #93 "regression: recent API changes have broken scenarios that do not use logging directly"
I have an app that does not use the logging APIs directly. A recent change has removed a function forcing the static files middleware to stop working.

[code]

[2015-01-19 10:19] davidfowl commented on #93
Delete all of your packages and try restoring again. Everything is now beta 3 so you're likely mismatched

[2015-01-19 10:20] davidfowl commented on #93
Same for the KRE

[2015-01-19 10:37] borgdylan commented on #93
That fixed it, however i found a missing thing in static files...will report

[2015-01-19 10:37] #93 closed

[2015-01-28 21:42] suhasj opened #97 "Have a Write overload that takes an expression and is executed conditionally"
The current methods and overloads take string or an object with LogFormatter along with state. We can have a method that takes an expression which logs or creates a log object and is invoked only if the LogLevel is enabled. This makes it efficient in a sense that we don't need to have an additional check before calling the logger.Write method

[2015-01-28 22:30] Eilon commented on #97
Be aware that allocating a delegate isn't free either.

[2015-01-29 18:38] ycrumeyrolle opened #99 "Dispose IDisposable ILogger or dispose IDisposable ILoggerProvider"
I am implementing a custom Logger and I am facing to a IDisposable problem.

My loggerProvider own an IDisposable object (a BlockingCollection).
I am unable to dispose this object because the LoggerFactory does not try to dispose the ILoggerProviders.
The LoggerFactory should be able to register the provider when it is added and to dispose it at its own Dispose().

[2015-01-29 19:36] Eilon commented on #99
Curious - I think in general loggers would at best be disposed when the app shuts down, right? So at that point, what would calling `Dispose()` really help? The app is exiting, so the OS will clean up anything that needs to be cleaned up.

And of course during an unexpected shutdown (i.e. a crash) the `Dispose()` wouldn't get called anyway.

Any thoughts on this?

[2015-01-30 00:32] ycrumeyrolle commented on #99
My main concern is that without the IDisposable pattern, I am not sure that my logger logs all my messages.
An example would be with the DiagnosticsLogger. If I use a TextWriterTraceListener with AutoFlush=Off, I can lost some information at the daily app pool recycling.
With a IDisposable pattern, I will be able to a call the traceSource.Flush() at the App_End().

[2015-01-30 00:37] ycrumeyrolle commented on #99
IMHO the IDisposable pattern should be supported for the ILoggerProvider, not for the ILogger because of ILoggerProvider lifecycle is managed by the Logging framework, ILogger lifecycle is manager by the application.

[2015-01-30 12:07] justinvp opened #100 "Make logging more "pay-for-play" by avoiding unnecessary allocations"
Note: I'd be happy to submit a PR; I just wanted to first see if the owners are open to these suggestions.

There are opportunities to make logging more "pay-for-play," avoiding unnecessary allocations when possible.

For example, here's the current implementation of the `WriteVerbose` extension method:

[code]

With the current implementation, even when `LogLevel.Verbose` is disabled, this still

[2015-01-31 16:33] Eilon commented on #99
Ah, I see, this makes more sense now.

[2015-01-31 23:47] Eilon commented on #100
I suspect that for someone more perf-conscious they would already be checking `IsEnabled` before calling the logger at all because even with the pattern you propose there are likely a lot of other allocations going on, such as preparing data parameters to pass into logging.

And with the proposed pattern, there would now be *two* calls to `IsEnabled`, thus reducing performance for the people who c

[2015-02-01 00:36] justinvp commented on #100
Someone more perf-conscious who is already checking `IsEnabled` already has *two* calls to `IsEnabled` happening, just look at the current implementations of `Write` (they all call `IsEnabled`):

 - [NLog](https://github.com/NLog/NLog/blob/00d53bc3b234917517e2fdc1735f8b4af2d5d8aa/src/NLog/Logger.cs#L157)
 - [Serilog](https://github.com/aspnet/Logging/blob/9899629df27168151a4e977534f2befba7134690/s

[2015-02-02 04:37] Eilon commented on #100
Ah, interesting, I hadn't noticed that there are already two calls. However I'm not sure that making the 2 into 3 makes things better.

In all reality, is the one extra allocation of an array worse than an extra method call to delegates? I'd have to say that without seeing real numbers on this I have to hesitate on such a change. This is the type of perf work where using intuition instead of numbe

[2015-02-02 14:22] justinvp commented on #100
It's more than one extra allocation. Consider a call to the following:

[code]

With the current API and implementation, this is at least 5 unnecessary allocations when the Verbose level isn't enabled:

 1. `streamIndex` (`int`) is boxed to an `object`
 2. `count` (`int`) is boxed to an `object`
 3. `id` (`ulong`) is boxed to an `object`
 2. the `object[]` params array is allocated
 3. the call to

[2015-02-02 17:19] justinvp commented on #100
I modified the sample app to measure the performance difference between the existing implementation vs. the proposed improvements. The results show a decent improvement.

Below are the results of a few test runs when Verbose isn't enabled. `A` is the elapsed time of the existing implementation, `B` is the elapsed time of the proposed changes.

[code]

Implementation here: https://gist.github.com/j

[2015-02-04 21:59] suhasj commented on #97
I debugged this and the `Func<object, Exception, string> formatter` parameter in the `Write` method already does this. A caveat is that it is not async. Making it async along with having a WriteAsync would be really helpful

[2015-02-08 10:40] damianh commented on #21
Why would you want to await a log write? Surely it's just fire and forget and it's up to the implementation to be concerned with such things, including returning asap.

[2015-02-08 10:47] davidfowl commented on #21
@damianh +1

[2015-02-08 10:56] damianh commented on #63
Well now... I _do_ remember that logging discussion I was involved in on one of the katana calls where [this was discussed](https://github.com/ayende/ravendb/tree/master/Raven.Abstractions/Logging) (`LibLog` was previously known as `DH.Logging`)

Suffice to say, they have a (weak) shared ancestry :wink:

[2015-02-08 12:06] tugberkugurlu commented on #21
I also agree with @damianh. However, I can understand the temptation as you can now await inside the catch block :smile:

[2015-02-08 12:21] damianh commented on #21
I wouldn't await a log write inside a catch block either.

[2015-02-09 23:04] lukewaters opened #103 "Add Debug level to logging"
This logging level would be below verbose, and would indicate that sensitive application data is to be logged.

With this change, the LogLevel enum would be changed to this

[code]

[2015-02-09 23:08] PureKrome commented on #103
How does `Debug` differ from `Verbose`? Some people use `Trace` instead, but `Verbose` sounds like an acceptable _catchall_. I can't see the value of both `D` and `V`.

[2015-02-10 17:55] lukewaters opened #104 "Update signature of Func<> param in logging to allow conditional evaluation of secure log messages"
The purpose of this change would be to both defer evaluation of debug level message, and also to avoid sending secure log messages to loggers that aren't listening on debug level

Signature for additional logging method would be like

[code]

[2015-02-10 19:40] lukewaters commented on #103
This level differs from verbose in that log messages will contain data that would be omitted from verbose messages due to security concerns.  This bug works with issue #104 to allow messages to be conditionally evaluated, with secure information omitted from messages when log level is set to Verbose, and included in those log messages when the log level is set to debug

[2015-02-13 11:28] davidfowl opened #110 "Move all Logging and LoggerFactory extension methods to Logger.Interfaces"
So that library and middleware authors can take a dependency on just the interfaces package.

[2015-02-13 23:30] vijayantkatyal opened #111 "The type 'ILoggerFactory' exists in both 'Microsoft.Framework.Logging.ILoggerFactory, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' and 'Microsoft.Framework.Logging.Interfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
in project.json

if i use:

"Microsoft.Framework.Logging": "1.0.0- * ",
"Microsoft.Framework.Logging.Console": "1.0.0- * "

instead of:

"Microsoft.Framework.Logging": "1.0.0-beta2",
"Microsoft.Framework.Logging.Console": "1.0.0-beta2"

i'm getting error:

The type 'ILoggerFactory' exists in both 'Microsoft.Framework.Logging.ILoggerFactory, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' an

[2015-02-15 18:08] Eilon commented on #111
@vijayantkatyal are you using just the latest NuGet packages, or also the latest XRE/KRE? You can't mix and match builds, so if you're using beta2 NuGet packages, you have to use the beta2 XRE/KRE. If you want to use the latest NuGet packages, get the latest XRE as well.

[2015-02-15 18:19] vijayantkatyal commented on #111
all of nuget packages and kre version are set to beta2 version.

i think when i use * instead of beta2, this will fetch new versions(beta3, beta4) instead of beta2.

there should be a way to check the compatibility.

![image](https://cloud.githubusercontent.com/assets/1795103/6204323/35906efe-b56d-11e4-8115-3dda4beb5fcd.png)

[2015-02-15 18:20] #111 closed

[2015-02-15 18:21] Eilon commented on #111
Correct, `*` will pull in the absolute latest, which is a lot newer than `beta2`. These compat problems are mostly a problem while the whole project is in pre-release. Once it hits the stable version, these types of issues will be much rarer.

[2015-02-15 18:28] vijayantkatyal commented on #111
:+1:

[2015-02-15 19:53] vijayantkatyal opened #112 "Support of saving Logging data to a Database."

[2015-02-15 19:58] davidfowl commented on #112
Using what kinda of technology? Entity Framework? Sql? MongoDB etc..... This would be another logger provider.

/cc @rowanmiller

[2015-02-15 20:08] vijayantkatyal commented on #112
Entity Framework (default option). but i think other options also applicable according to someone needs.

i found a solution using NLog for Entity Framework.

https://github.com/ladenedge/NLog.EntityFramework. will try with ASP.NET Beta 2 and EF beta2.

[2015-02-15 23:06] PureKrome commented on #112
@vijayantkatyal What you're talking about are `Targets` for NLog ([which has a nice list of already provided targets](https://github.com/nlog/nlog/wiki/Targets)) or `Sinks` for Serilog ([which also has a nice, rich list](https://github.com/serilog/serilog/wiki/Provided-Sinks)).

Sure, NLog (or Serilog) is not what everyone will want to use. :disappointed:

Yep - it's _not_ part of the core logging

[2015-02-15 23:24] vijayantkatyal commented on #112
i think for now using existing options (NLog / Serilog) will be best. :+1:

[2015-02-15 23:24] #112 closed

[2015-02-17 09:19] ycrumeyrolle commented on #103
Guidelines should be updated to explain the differences between debug and verbose.
https://github.com/aspnet/Logging/wiki/Guidelines

[2015-02-17 15:19] Eilon commented on #103
@lukewaters can you take a crack at this?

[2015-02-17 15:19] Eilon commented on #103
(And should this bug be closed as well?)

[2015-02-17 17:49] lukewaters commented on #103
Yep, I'll get to work on the docs

[2015-02-17 17:49] #103 closed

[2015-02-17 17:50] #104 closed

[2015-02-17 17:59] Eilon commented on #103
Thanks! :book:

[2015-02-17 18:02] lukewaters opened #113 "Add ILoggerFactory.MinimumLevel"
This should be set to Verbose by default, anything logged at a level below MinimumLevel will not be sent to any registered logger.

[2015-02-17 19:28] Eilon commented on #113
How exactly is this method used? Note that the logger factory implementation is not generally something that is customized. How would an app tweak the minimum level?

[2015-02-17 19:32] lukewaters commented on #113
@lodejard  described this behavior in a comment on one of my previous pull requests

[2015-02-17 19:50] Eilon commented on #113
Got it, thanks!

[2015-02-17 20:10] davidfowl commented on #113
It's not a method

[2015-02-19 22:10] lukewaters commented on #113
Fixed in #114

[2015-02-19 22:10] #113 closed

[2015-02-21 08:33] muratg opened #116 "API review: Move classes to Microsoft.Framework.Logging.Testing"
A couple of the identified ones in the API review:

- BeginScopeContext
- TestSink

Look at other types that we have for writing tests for code that folks are going to write to integrate with us.

[2015-02-21 08:37] muratg opened #117 "API review: DiagnosticsLogger and other related types"
- DiagnosticsLogger -> TraceSource
- DiagnosticsLoggerProvider -> TraceSourceProvider
- etc.

Also make DiagnosticsScope private.

[2015-02-21 08:40] muratg opened #118 "API review: LogFormatter polish"
- Move to Interfaces assembly
- Rename FormatStructure method to FormatLogValues

[2015-02-21 08:41] muratg opened #119 "API review: LoggerExtensions changes"
- Move to Interfaces assembly
- Rename Write* methods to Log* (This is a big change across repos)

[2015-02-21 08:44] muratg opened #120 "API review: LoggerFactoryExtensions polish"
- Rename Create<T> to CreateLogger<TCategoryName>
- Review where this is used, and if nameof (C# 6) works for the category name, consider removing this class altogether.

[2015-02-21 08:54] muratg opened #121 "API review: Interface changes"
**ILoggerStructure**
- Rename interface to ILogValues
- Remove "Messages" property (and from its implementations as well)

**ILoggerProvider**
- Rename Create to CreateLogger

**ILoggerFactory**
- Rename Create to CreateLogger
- Rename CreateLogger method's param name from "name" to "categoryName"

**ILogger**
- Rename Write method to Log
- **Documentation** Write doc on why we don't have LogAsync

[2015-02-21 09:03] muratg opened #122 "API review: Remove NullLogger and related classes"
- NullLogger
- NullLoggerFactory
- NullDisposable

[2015-02-21 09:04] muratg opened #123 "API review: Move LoggerStructureFormatter to .Internal namespace"

[2015-02-21 09:09] muratg opened #124 "API review: LoggerStructureBase and LoggerStructureFormat polish"
**LoggerStructureBase**
- Rename to ReflecionBasedLogValues (Check with Glenn)
- Remove Message (another work item tracks removal of this from the interface)

**LoggerStructureFormat**
- Move to .Internal namespace
- Rename class to FormattedLogValues
- Should follow pattern similar to LoggerStructureBase
- Remove Message (another work item tracks removal of this from the interface)

[2015-02-24 17:09] #116 closed

[2015-02-24 21:38] #118 closed

[2015-02-24 23:08] BrennanConroy commented on #116
We are moving this to a new project in the Testing repo, other projects use these and need access to them so we are providing a place for them to get it.

[2015-02-24 23:44] suhasj opened #127 "Split test project to test base logging interface and implementation dependent one"
Right now the test project depends on Logging.Serilog as well. This makes it compile only for desktop framework. We should ideally split the test project into ones that test the base logging API and the ones that test the implementations like NLog, Serilog.

Also the tests should be written to run on coreclr as well

[2015-02-25 00:35] BrennanConroy commented on #120
typeof(T).FullName gives: Namespace.T
nameof(T) gives: T

[2015-02-25 17:49] BrennanConroy commented on #121
Should we rename FormatLoggerStructure function to FormatLogValues?

[2015-02-25 18:52] BrennanConroy commented on #121
IConsole to Microsoft.Framework.Logging.Console.Internal or Microsoft.Framework.Logging.Internal?

[2015-02-25 19:29] BrennanConroy commented on #121
@glennc do you have an answer for these? Also, should the Documentation be made a different issue for you or do you have it written down/memorized

[2015-02-25 19:47] #123 closed

[2015-02-25 22:56] BrennanConroy commented on #122
NullDisposable is used in one place by the TestLogger. Current thought is to just use null instead of NullDisposable.Instance, this works fine as long as .Dispose is not explicitly called on the "IDisposable" which it isn't in all the tests that use this

[2015-02-25 23:44] BrennanConroy commented on #117
I can't make DiagnosticsScope private. I could make the constructor private, but then would need to provide a method to create them, or make the constructor internal, or the class internal, either way, also requires the Testing project being allowed to see internals.

[2015-02-25 23:59] BrennanConroy commented on #121
Should we move ConsoleLoggerFactoryExtensions.cs to the Logging project since we changed the namespace from Logging.Console to Logging?

[2015-02-26 02:17] glennc commented on #121
* Documentation should be a different issue. Can you split and link it for me when you close this? Assign it to me.
* I think IConsole should go to Console.Internal.
* Extension methods for a type in a given namespace should live in that types namespace, but not necessarily in the same repo. ConsoleLoggerFactory is in the logging namespace, so the extensions for it should be in the same namespace.

[2015-02-26 19:40] #122 closed

[2015-02-26 21:54] BrennanConroy commented on #119
Moving to interfaces assembly would require adding a dependency on Microsoft.Framework.Logging to the .Interfaces assembly creating a circular dependency

[2015-02-26 22:17] avanderhoorn commented on #74
@Eilon @lodejard Just wondering if/when this is going to get looked at? Since things are being cleaned up it seems like this is something that should be looked at. I'm worried that tapping these properties will be impractical without some sort of IL code gen, etc.

[2015-02-27 07:30] Eilon commented on #74
Most of our current perf analysis work is focused only on startup time right. As far as other engineering efforts we're trying to lock down on features and critical bugs. As more of the team frees up to look at perf work we'll definitely spend a good chunk of time analyzing logging overhead to see what the optimal improvements are.

[2015-02-27 16:41] avanderhoorn commented on #74
@Eilon Sounds good. Just wanted to make sure it wasn't missed as we will be relying on this a lot.

[2015-02-27 18:16] BrennanConroy commented on #124
@glennc ReflecionBasedLogValues?
Also, LoggerStructureFormatter is only used in the Logging repo so I'm thinking move it to .Internal namespace too (and renaming, LogValuesFormatter?)

[2015-03-03 02:58] GrabYourPitchforks opened #131 "Add some space in the LogLevel enumeration and flip the values"
Proposal: Critical = 0, Error = 10000, Warning = 20000, and so on.

This has a few advantages over the current stack. First, `default(LogLevel)` signifies "record only critical failures", which seems an appropriate default if the developer didn't specify an explicit level. Second, adding extra space gives us room to add new levels in the future. Third, it allows you to think of the log level as a

[2015-03-03 05:07] Eilon commented on #131
Not sure why we'd ever inject more log levels - I'm not sure what the semantic would be if we ever added a new one. Similarly for the order, the world seems to be split between high->low and low->high. It's easy to argue the ordering should be "most severe is biggest because it's the most important" but it's just as easy to argue as "most verbose is biggest because it's the most messages".

[2015-03-03 05:11] davidfowl commented on #131
Yea, these level types are pretty standard across the most popular logging technologies on .NET today.

[2015-03-03 10:46] yann-c-webcenter commented on #121
Types in the *.Internal namespace shouldn't be "internal' instead of public ?

[2015-03-03 10:48] ycrumeyrolle commented on #121
Types in the *.Internal namespaces shouldn't be internal instead of public ?

[2015-03-03 18:54] GrabYourPitchforks commented on #131
Shall we close then?

[2015-03-03 19:08] Eilon commented on #131
Yeah I'm not sure there's any clear benefit to these suggestions over what we currently have.

[2015-03-03 22:03] #131 closed

[2015-03-04 00:59] anurse commented on #119
There are a bunch of dependencies that have to come too (like LoggerStructureFormat) but then the dependencies should be fine. I'm going to do this as part of some work I'm doing for integrating Logging into the Runtime Core (as a submodule). PR to come soon.

[2015-03-04 01:00] anurse commented on #119
Actually, I'm not going to do the Log* renames, so we might want to split this out or adjust it a bit...

[2015-03-04 17:58] colotiline opened #135 "Erorrs in VS but everything is ok for "k run""
Hello.
When I try to use `NLog` in Visual Studio, I've got 3 errors. But everything works fine when I use `k run`.
Screenshot: http://i.imgur.com/kk5f8LJ.png

`project.json`
[code]

How to resolve this issue?

[2015-03-04 18:03] #119 closed

[2015-03-04 18:20] glennc commented on #117
Move it to an internal namespace instead of making it private. We don't use InternalsVisibleTo

[2015-03-04 18:20] glennc commented on #124
Yes to both of those questions.

[2015-03-04 19:46] BrennanConroy commented on #135
If you look closely you will see that the VS errors are for CoreCLR. I'm guessing that you are using DesktopCLR from the command line which will work (and VS doesn't show any errors for DesktopCLR).
I believe NLog is not available on CoreCLR. You can wrap the usages of it in #ifdef aspnet50 for VS to work.

[2015-03-04 20:58] colotiline commented on #135
Thanks.

[2015-03-04 20:59] #135 closed

[2015-03-05 05:50] davidfowl opened #139 "RootTraceName should be configured and shouldn't default to Microsoft.AspNet"
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/TraceSourceLoggerProvider.cs#L16

[2015-03-05 05:52] davidfowl opened #140 "WriteContext should be moved to Test"
It's not used anywhere else https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/Utils/WriteContext.cs

[2015-03-05 06:48] leshin opened #141 "TraceSourceLoggerProvider > InitializeTraceSource is no use"
The Listeners and Switchs always to the same with _rootSourceSwitch !!

https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/TraceSourceLoggerProvider.cs#L16

[2015-03-05 07:36] #110 closed

[2015-03-05 08:58] davidfowl opened #142 "Move AddLogging to Logging"
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/HostingServicesCollectionExtensions.cs#L16

[2015-03-05 09:32] davidfowl commented on #85
Dupe

[2015-03-05 09:32] #85 closed

[2015-03-05 09:32] #21 closed

[2015-03-05 09:32] #86 closed

[2015-03-05 10:42] #142 closed

[2015-03-05 10:48] #140 closed

[2015-03-05 10:51] davidfowl commented on #83
@JesperTreetop Where did you get with this?

[2015-03-05 10:55] JesperTreetop commented on #83
Sorry, I got around to starting it but not to finishing it due to unexpected events. I'll see if I can get it to a state this weekend where it can at least be considered as a pull request or Gist for someone else to pick up - I know I don't have the cycles to drive this myself at this time and I understand you needing to start buttoning things up.

[2015-03-05 11:42] davidfowl commented on #139
Killed it

[2015-03-05 11:42] #139 closed

[2015-03-05 11:45] davidfowl commented on #50
Added it and we're calling it from hosting.

[2015-03-05 11:46] #50 closed

[2015-03-05 11:47] davidfowl commented on #50
@lodejard If you think we need to do something about that, reopen the bug. For now the extension method was moved to the Logging repository.

[2015-03-05 11:48] davidfowl commented on #33
Can we do this? They are in the Testing repository right now. I can't remember what we decided to do with them:
/cc @glennc @muratg @lodejard

[2015-03-05 11:49] davidfowl commented on #62
Don't need this anymore since we've nuked assembly neutral. You can use the Logging.Interfaces package without any dependency on an implementation though

[2015-03-05 11:49] #62 closed

[2015-03-05 11:50] davidfowl commented on #5
Closing this out as it's generic and we have most (except OutputdebugString)

[2015-03-05 11:50] #5 closed

[2015-03-05 11:50] davidfowl commented on #5
@SajayAntony do you want to help out with the ETW provider?

[2015-03-05 11:50] davidfowl commented on #7
We got more than one.

[2015-03-05 11:50] #7 closed

[2015-03-05 11:50] davidfowl commented on #6
Dupe of #83

[2015-03-05 11:50] #6 closed

[2015-03-05 11:51] davidfowl commented on #83
@JesperTreetop if you have something we can start from that would help as well.

[2015-03-05 12:43] JesperTreetop commented on #83
Great, I'll get back with what I have.

[2015-03-05 17:12] #124 closed

[2015-03-05 17:13] #121 closed

[2015-03-05 17:13] #120 closed

[2015-03-05 17:13] #117 closed

[2015-03-05 17:46] SajayAntony commented on #5
@davidfowl  - @KKhurin might be able to help. Will sync up with him.

[2015-03-05 18:27] BrennanConroy opened #144 "Documentation: ILogger"
From #121
Write doc on why we don't have LogAsync method.

[2015-03-05 19:21] davidfowl commented on #141
?

[2015-03-06 02:10] muratg commented on #33
@davidfowl sure..

[2015-03-06 08:16] leshin commented on #141
Why use TraceSource parentTraceSource = GetOrAddTraceSource(parentSourceName) ?
All the created logger by TraceSourceLoggerProvider that always use the _rootSourceSwitch and _rootTraceListener !
How to set different switch and listener for each logger?

[2015-03-06 08:23] davidfowl commented on #141
What's the scenario you're trying to accomplish? The pattern here allows you to filter traces by prefix. It means that you can turn tracing on for Microsoft.AspNet and get all of the logs:

http://www.tugberkugurlu.com/archive/logging-in-the-owin-world-with-microsoft-owin--introduction

Check out this blog for an example.

[2015-03-06 16:46] BrennanConroy commented on #33
We just moved these to the testing repo because of the logging API review. So what do we want to do?

[2015-03-06 18:53] muratg commented on #33
Thanks Brennan, yup that was the decision from the API review.  I think we should keep these in Testing repo.  Unless someone objects, I think we should close this one.

[2015-03-07 18:18] JesperTreetop commented on #83
Posted pull request #147 as per above - I don't believe it's perfect by any means, but it's something you can start from. I included a way to log extra details from the current HttpContext to be able to eventually match the extensive contextual logging of the current event log entry in ASP.NET 4 (but actually logging all that information is currently left as an exercise to the maintainer...).

[2015-03-07 18:21] davidfowl commented on #83
Looking at this PR I'm thinking we should maybe have a separate EventLog class shared by our windows specific web servers to log unhanded exceptions. This really is Windows specific and if we end up having an event log provider, then it would be a generic component, instead of one tied to ASP.NET

[2015-03-09 09:55] leshin commented on #141
Oh, I see !  I forgot can configure the switch and listener in the web.config.  Thank you very much!

[2015-03-09 09:55] #141 closed

[2015-03-15 11:37] ycrumeyrolle opened #153 "Make the Scope class sealed and simplify the IDisposable pattern"
The Scope class is an inner private class. It is not necessary to provider the overridable Dispose() method as it cannot be override.
This change will remove a remaining TODO.

[2015-03-15 11:53] ycrumeyrolle opened #154 "Documentation - Do not tell to log sensitive data"
To log sensitive data is a bad practice. To log password is a security issue.
The Guidelines page must not tell such things, even for the debug log level.

[2015-03-16 17:58] Praburaj opened #155 "Review if a package description is required for these packages"
[code]

[2015-03-16 22:50] BrennanConroy commented on #33
Ping

[2015-03-17 16:55] muratg commented on #33
Closing this one. @davidfowl please reopen if you think we should change this back.

[2015-03-17 16:55] #33 closed

[2015-03-18 17:40] glennc commented on #154
Do you mean this page: https://github.com/aspnet/Logging/wiki/Guidelines

The reason that is there is because Entity Framework will write the values of SQL statements to the debug log level. These could contain something that's sensitive, though they may not. It doesn't mean people should log passwords. We could probably make that clearer.

[2015-03-18 17:54] glennc commented on #97
Does this achieve the same thing as https://github.com/aspnet/Logging/issues/100?

[2015-03-18 17:57] glennc commented on #84
This was done as part of the API review work

[2015-03-18 17:57] #84 closed

[2015-03-18 22:53] ycrumeyrolle commented on #154
Yes, I was meaning this (very useful) page.

Maybe a new entry in the guidelines list could clarify the situation, by saying that sensitive data such password or credit card number should/must not be logged as is, or something like this.
And by replacing the debug example with the password by another field, like first name?

[2015-03-19 20:29] suhasj opened #156 "[NLog] Created scopes are not printed as expected for async operations"
The BeginScope for NLog provider creates an object and pushes it in the `NestedDiagnosticsContext` stack. This stack is stored in a ThreadLocalStorage which is good for synchronous operations. If we create the scope string using async methods or have async methods in the Log calls, the scopes are not shared and hence the output is not scoped as expected. The issue looks to be in the NLog assembly

[2015-03-23 18:10] muratg commented on #68
Done already

[2015-03-23 18:10] #68 closed

[2015-03-25 22:50] HaoK opened #158 "Add sugar around BeginScope"
- BeginScope(object)
- BeginScope(string, params object[])): support for something like the LogVerbose: "Executing {display}", display to automatically generate the ILogValue

[2015-04-01 15:26] sandorfr commented on #99
I have the same need/issue building a Azure table based logger. To get proper performance I want logging to happen asynchronously and using batches. But to ensure that everything is logged I need some mechanism to ensure that everything has been flushed.

[2015-04-02 05:03] lodejard commented on #99
+1

[2015-04-03 06:58] Gorniv opened #165 "Please create sample project for aspnet50 with Nlog"
I dont understand this sample,can you create working loggin project on frameworks:aspnet50 with all dependencies and config in nlog.config?

[2015-04-03 07:40] davidfowl commented on #165
https://github.com/aspnet/Logging/blob/dev/samples/SampleApp/Program.cs#L30

[2015-04-03 07:40] davidfowl commented on #165
What?

[2015-04-03 08:06] Gorniv commented on #165
I create ASP.NET 5 Prewiew Startter Web
I can not understand what I need to do next.
if i paste :
[code]
i have 20 error, project.json :
[code]

[2015-04-05 00:18] Eilon commented on #165
Can you post a GitHub repo with your app, plus show the exact errors you're getting?

[2015-04-06 18:01] Gorniv commented on #165
I create test project,add Nlog package, 'nlog.config', but i don't understand what next?
https://github.com/Gorniv/vlogging

[2015-04-08 07:23] kichalla opened #170 "Provide options for console logger to show/hide certain details"
Currently the information like `LogLevel` and the logger name make the log look cluttered with information and difficult to follow. We could provide options to show/hide these details.

Example:
[code]

[2015-04-09 16:57] Eilon commented on #170
Any idea what kind of filtering you have in mind? The console logger already allows specifying a filter based on log level and name:

[code]

You can do something like this:

[code]

[2015-04-09 17:01] davidfowl opened #171 "Remove ReflectionBasedLogValues type and instead use Custom formatted log values"
This should probably be shared source somewhere.

https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/ReflectionBasedLogValues.cs

[2015-04-09 19:03] kichalla commented on #170
Probably I was not clear, but I was referring to the text which is in the beginning of each line...Example: `verbose : [Microsoft.AspNet.Routing.Template.TemplateRoute] `...like this string occupies considerable amount of console's screen space and also i am not sure how much of this information is useful for an end user initially(if they care probably they could enable options it to see this info

[2015-04-09 22:11] kichalla commented on #158
I think this issue has been addressed few days back.
- ILogger's BeginScope is renamed to `BeginScopeImpl`
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging.Interfaces/ILogger.cs#L36

- New logger extension to take in format string
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging.Interfaces/LoggerExtensions.cs#L558

[2015-04-09 23:18] #158 closed

[2015-04-12 06:56] davidfowl commented on #55
This is done.

[2015-04-12 06:56] #55 closed

[2015-04-12 22:29] Eilon commented on #170
I suppose the console logger could have an option to show an abbreviated version of the scope/category/whatever...

[2015-04-12 22:29] Eilon commented on #170
(Though I somewhat dislike having such options because their discoverability is generally poor.)

[2015-04-12 23:07] Eilon commented on #165
To use NLog you can target only `aspnet50` because `aspnetcore50` isn't yet supported. In the `project.json` file remove the "frameworks: aspnetcore50: item.

[2015-04-12 23:07] #165 closed

[2015-04-20 15:25] wenhx commented on #99
If LoggerFactory implemente IDisposable interface, it means that if we don't dispose it may be problematic,but in most situations we don't need to dispose LoggerProvider.
So, if someone need dispose LoggerProvider, he can create a custom LoggerFactory.

[2015-04-23 21:43] smitpatel opened #175 "Incorrect DisplayName from TypeNameHelper"
The present implementation of TypeNameHelper gives wrong display name for nested classes if the outer class is generic.
[code]
aspnet/common#15 adds TypeNameHelper with correction of above bug. Once the pull request merged, make use of common repo for Logging.

[2015-04-24 18:31] #175 closed

[2015-04-29 23:21] muratg opened #177 "Pkg rename: Microsoft.Framework.Logging.Interfaces -> Microsoft.Framework.Logging.Abstractions"
See https://github.com/aspnet/Announcements/issues/8#issuecomment-97566113

[2015-04-30 00:26] BrennanConroy commented on #177
https://github.com/aspnet/Logging/commit/1aae5595de6a282585f6b5f6b76b4a2fe503f7e5

[2015-04-30 00:26] #177 closed

[2015-05-06 15:33] wobuzhudao opened #179 "Ability to get Serilog nuget package?"
Is the Microsoft.Framework.Logging.Serilog code not a packaged nuget for beta4 right now? It doesn't seem to be included in the Logging package, and there is no separate package I can find for it. Will I need to download the code from here if I want to try it out?

[2015-05-06 16:26] wobuzhudao commented on #179
I was able to pull it in just by editing the project.json file.

[2015-05-06 16:26] #179 closed

[2015-05-14 16:55] wobuzhudao opened #183 "LogEventLevel Debug for SerilogLogger?"
Is the case for `LogEventLevel.Debug` missing from `SerilogLogger.ConvertLevel(...)` for some reason? If I try to configure with Debug as the minimum level, I don't get debug messages. If I try to set the minimum level to Debug from the LoggerFactory, I get a `NotSupportedException`.

[2015-05-15 05:19] Eilon commented on #183
@nblumhardt ? I think you were going to look at having a new home for the Serilog adapter?

[2015-05-15 05:19] davidfowl commented on #183
The fix is in this  https://github.com/aspnet/Logging/pull/182

[2015-05-15 05:22] nblumhardt commented on #183
:+1: - which is heading towards https://github.com/serilog/serilog-framework-logging (though the naming feels questionable). Aiming to have a first cut published in a few days.

[2015-05-17 04:02] nblumhardt commented on #183
Package with the fixed level mapping is out now (details at the link above).

[2015-05-17 08:47] ErikEJ opened #186 "What happened to AddConsole"
Trying to add loggin to a unit test, but fail to find the AddConsole overload - what am I doing wrong:

https://github.com/aspnet/Logging/blob/dev/samples/SampleApp/Program.cs

[2015-05-17 08:59] davidfowl commented on #186
Can you show your project and share more information about the versions of things that you're using?

[2015-05-17 10:20] ErikEJ commented on #186
Sorted - Missed that is needed the seperate .Console MyGet package

[2015-05-17 10:59] #186 closed

[2015-05-21 19:17] kichalla commented on #91
Looks like this is already fixed?

![image](https://cloud.githubusercontent.com/assets/6559784/7756767/3e1902f4-ffb2-11e4-9644-de75a6d3ca99.png)

@muratg

[2015-05-21 19:52] suhasj commented on #91
sure it was fixed by this https://github.com/aspnet/Logging/pull/105
This can be closed

[2015-05-21 19:58] Eilon commented on #91
Yup.

[2015-05-21 19:58] #91 closed

[2015-05-28 22:04] #80 closed

[2015-06-03 08:03] ORuban commented on #183
Hi, could you also look to the NLogLogger? Debug messages are also missed, suggested PR (https://github.com/aspnet/Logging/pull/188).

[2015-06-08 22:32] muratg commented on #171
Move to Common.

[2015-06-08 22:55] muratg commented on #183
@ORuban can you file a bug for the NLogLogger?

[2015-06-08 22:55] #183 closed

[2015-06-09 22:24] #97 closed

[2015-06-09 22:25] muratg commented on #79
Fixed already: https://github.com/aspnet/Logging/pull/167

[2015-06-09 22:26] #79 closed

[2015-06-09 22:32] muratg commented on #67
@Tratcher let's sync up on this cc @kichalla

[2015-06-09 22:32] muratg commented on #56
@BrennanConroy is this still an issue?

[2015-06-09 22:45] muratg commented on #72
@kichalla will talk to @rynowak for some of the details.

[2015-06-09 22:59] rynowak commented on #72
This feedback is based on a bunch of code that we've removed. I'm not sure there's anything actionable in this work item.

[2015-06-10 01:57] muratg commented on #72
@rynowak Yeah, we thought most of it is already covered by removed code or updates with the API review, we suspected some maybe still actionable. If not, this should be good to close.

[2015-06-10 02:50] rynowak commented on #72
It's not actionable in MVC and Routing. The other place to look would probably be Identity.

[2015-06-10 12:18] SergeBerwert opened #190 "Changing LogLevel enum to a enum with flags"
It would be grate to change the LogLevel enum to:

[code]

With this it would be easy to select different levels, not just by hierarchy. You could filter for example Debug and Error or whatever you need.

[2015-06-10 16:49] BrennanConroy commented on #56
Shouldn't be, we use the ascii codes for color now, so it should be a lot more consistent.

[2015-06-10 16:51] #56 closed

[2015-06-11 14:17] justinvp opened #191 "Why are there public types in `Internal` namespaces?"
Why are there `public` types in `Internal` namespaces?

 - [Microsoft.Framework.Logging.Internal.FormattedLogValues](https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging.Abstractions/Internal/FormattedLogValues.cs)
 - [Microsoft.Framework.Logging.Internal.LogValuesFormatter](https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging.Abstractions/Internal/LogVa

[2015-06-11 14:22] justinvp opened #192 "`TraceSource` types in the wrong namespace"
The `TraceSource` logger types are in the root `Microsoft.Framework.Logging` namespace.

These types should be in `Microsoft.Framework.Logging.TraceSource` to be consistent with the other loggers:

 - The `Console` types are in the `Microsoft.Framework.Logging.Console` namespace.
 - The `Debug` types are in the `Microsoft.Framework.Logging.Debug` namespace.
 - The `NLog` types are in the `Microsof

[2015-06-15 17:18] DamianEdwards opened #194 "Add a DebugLoggerProvider that writes to Debug.WriteLine"
Would be almost identical to the existing `ConsoleLoggerProvider` but it would write to `Debug.WriteLine`. It would enable itself only when the debugger is attached.

We should have this provider in the runtime by default so that any app will log messages to the debugger output, e.g. in Visual Studio.

[2015-06-22 21:47] DamianEdwards commented on #194
Something like the one at https://github.com/jongalloway/ndc2015-aspnet5-workshop/blob/master/Labs/4%20-%20Dependency%20Injection%20%26%20Unit%20Testing.md#configure-a-logger-so-you-can-see-the-request-id-messages

[2015-06-23 07:13] ORuban opened #196 "LogLevel.Debug for NLog Logger"
It seems like mapping between Microsoft.Framework.Logging.LogLevel and NLog.LogLevel is not fully correct:
- has missed Microsoft.Framework.Logging.LogLevel.Debug
- Microsoft.Framework.Logging.LogLevel.Verbose pointed to NLog.LogLevel.Debug instead of Trace

The main problem is that NLog.Logger.Debug method does not write any logs.
You can check the following PR: https://github.com/aspnet/Logging/

[2015-06-23 18:59] henkmollema opened #197 "Repo description mentions 'vNext'"
Should be ASP.NET 5 :smiley_cat:

[2015-06-24 02:18] Eilon commented on #197
Fixed

[2015-06-24 02:18] #197 closed

[2015-06-24 02:20] Eilon commented on #191
The `.Internal` namespace is for stuff we want to keep public so people can "use them at their own risk" but we make no guarantees about compatibility.

[2015-06-24 02:20] #191 closed

[2015-06-24 02:21] Eilon commented on #190
Is that a common thing? BTW most logging implementations will let you filter however you want by specifying some syntax (e.g. a lambda) to filter.

[2015-06-24 07:47] hishamco commented on #194
It will be nice if the logger will be added automatically by the runtime if the debugger is attached
:+1:

[2015-06-24 07:59] hishamco opened #201 "Flat File Logger Provider"
It will be nice if we provide a logger that logs and persist into files such as text, xml, json .. etc
the implementation will something like
[code]
After that we can create an implementation of ```FileLogger```

[code]

[2015-06-24 08:34] SergeBerwert commented on #190
The advantage of this would be you could filter like this:

            var logLevel = LogLevel.Verbose;
            var filter = LogLevel.Debug | LogLevel.Information | LogLevel.Warning;
            var enable = (filter & logLevel) > 0;

This would filter log messages if the level is Debug, Information or Warning. And this is the fastest implementation for this scenario possible. This you could e

[2015-06-24 16:49] Eilon commented on #190
You can do pretty much the same filter with about as much code:

[code]

[2015-06-25 17:53] muratg commented on #100
@kichalla did you get a chance to look into this? Let's try to get it in Beta 6.

[2015-06-26 08:42] IRooc opened #202 "AddConsole logging on ubuntu 14.04 gives PlatformNotSuportedException"
When I run the SampleApp in this repro on Ubuntu 14.04 using coreclr x64 1.0.0-beta6-12120 the following exception is thrown:
[code]

On Windows it works fine using the same coreclr x64 version

[2015-06-26 08:43] davidfowl commented on #202
/cc @BrennanConroy

[2015-06-26 17:18] BrennanConroy commented on #202
18e367d36f2dac1e5072fa746590da85a779c5c5

[2015-06-26 17:18] #202 closed

[2015-06-26 17:24] muratg commented on #194
We think this can be done in DNX instead of a separate package

[2015-06-26 17:30] muratg commented on #194
@kichalla We can potentially do this in DNX by bringing logging abstractions to DNX layer when you bring ILogger to DNX.

https://github.com/aspnet/dnx/issues/1118

[2015-06-26 17:56] davidfowl commented on #194
i would avoid the dnx for now and keep it localized to hosting

[2015-06-26 18:03] DamianEdwards commented on #194
@davidfowl any particular reason? Because of the churn we're expecting in the DNX? We have other issues RE bringing the `LoggerFactory` down to DNX so it seems odd to not do it all at once.

[2015-06-27 05:51] hishamco opened #204 "Add CompositeLoggerProvider"
Introducing a new ```CompositeLoggerProvider``` which is nothing but an aggregation for one or more ```LoggerProvider``` is very helpful when we want to log into different logger provider, e.g. we may wanna log into ```FileLoggerProvider``` and ```WindowsEventLoggerProvider``` in production and log into ```DebugLoggerProvider``` while the debugger is attached. So instead create each logger itself,

[2015-06-27 18:38] Eilon commented on #204
Can you show a code sample of what this might look like? How is it different from just adding several providers to the system?

[2015-06-27 20:01] hishamco commented on #204
Sure, I will try to show a code sample soon. Regarding the second question the ```CompositeLoggerProvider``` doesn't different too much from  just adding several providers to the system, behind the scene it abstracts the creating of the loggers (DI) by passing a list of loggers and the provider will take care about the rest, also this is very handy if one of the providers goes down

[2015-06-29 17:59] muratg commented on #201
We don't plan to ship more logging implementations at this point. We recommend using a 3rd party logger (like NLog or Serilog) for this type of situation.

[2015-06-29 17:59] #201 closed

[2015-06-29 18:02] muratg commented on #196
@ORuban thanks for the PR!  @kichalla Please have a look at the PR and if looks good, merge.

[2015-06-30 02:42] davidfowl commented on #194
Putting things int the dnx requires care in order to avoid pinning before the application loads. That plus the currently refactoring going on it seems unwise to make that layering decision at this point. We need an easy way to move things without pinning it before the app runs

[2015-06-30 03:10] DamianEdwards commented on #194
If that's the case why don't we just put it in the templates only? Hosting still isn't really optional for apps anyway so maybe better to require it to be added by the app explicitly.

[2015-06-30 04:32] davidfowl commented on #194
+1. We should at least do the feature for beta6 it's trivial. We can discuss moving it in by default at a later date.

[2015-06-30 05:00] DamianEdwards commented on #194
K. What package should we put it in? Microsoft.Framework.Logging?

[2015-06-30 05:03] davidfowl commented on #194
Separate package like the other providers

[2015-06-30 05:07] DamianEdwards commented on #194
And you get a package! And you get a package! You all get packages!

[2015-06-30 05:11] PureKrome commented on #194
![Developers Developers Developers!!!](http://upboat.me/att/packages/for-all-the-developers!.jpg)

[2015-06-30 15:51] victorhurdugaci commented on #194
@davidfowl and @DamianEdwards do you like `Microsoft.Framework.Logging.Debug` as package name?

[2015-06-30 15:56] DamianEdwards commented on #194
@victorhurdugaci yeah that's fine

[2015-06-30 17:44] victorhurdugaci commented on #194
@DamianEdwards, @davidfowl do you want the template to add the logger or do you want it in hosting?

[2015-06-30 17:50] kichalla commented on #196
Commit 0d6b4fcc2067e595452261c605fae8d9f15f0c82

[2015-06-30 17:50] #196 closed

[2015-06-30 18:21] DamianEdwards commented on #194
All of the project templates, inc. Empty.

[2015-06-30 19:33] kichalla opened #208 "Exception in a logger stops execution of other registered loggers"
We should continue calling into other loggers even though one of the loggers throws an exception.

Source:
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/Logger.cs#L34
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging/Logger.cs#L47

Repro sample:
[code]

[2015-07-01 00:40] #194 closed

[2015-07-01 00:41] victorhurdugaci commented on #194
The templates part of this issue is here: https://github.com/aspnet/Templates/issues/124

[2015-07-01 20:05] kichalla commented on #171
commit 3912fc89c8217cd89e6e6568b63be260f2587032

[2015-07-01 20:05] #171 closed

[2015-07-01 20:45] tugberkugurlu opened #210 "Console logging coloring is weird on linux"
Running the console logging on Ubuntu 14.04 LTS, it colors weirdly:

![image](https://cloud.githubusercontent.com/assets/328122/8464455/1f58095e-1ff7-11e5-9400-873a228324fa.png)

First message doesn't have the highlighting on the lines but others have.

[2015-07-02 17:26] muratg commented on #210
@BrennanConroy

[2015-07-02 18:27] BrennanConroy commented on #210
The only time we touch the background color in the console logger we turn it red for critical messages. So I'm not sure how this is happening

[2015-07-02 19:29] tugberkugurlu commented on #210
The code which causes this issue is here if you want to try to repro: https://github.com/tugberkugurlu/k-http/tree/d961ebeab7c5601bf4679c2bc833e12a6b1c0a99

[2015-07-04 13:48] hishamco commented on #208
I suggest ```CompositeLoggerProvider``` here #204 to avoid such issue, so if one of the providers is failed the other will still work fine as excepted ..
Nice catche @kichalla :smile:

[2015-07-04 14:51] hishamco commented on #204
[code]

[2015-07-04 20:55] Eilon commented on #204
The code sample seems identical to registering multiple providers. If the scenario of a logging "going down" is an important one, wouldn't it be better if that was just built-in to the logging system?

[2015-07-04 21:08] hishamco commented on #204
@Eilon this is just a sample code .. not the final :smile: , I know it will be better if that was built-in but this one case, and while the logger is accept a list of loggers, so we can add and remove loggers dynamically.
I hope to hear a feedback from the others to let you guys decide about this ..

[2015-07-05 00:54] hishamco commented on #204
In nutshell it's an aggregate logger that logs into multiple sources

[2015-07-06 06:08] hishamco opened #212 "Formatters Improvement"
If we have look to the ```ILogger``` definition here https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging.Abstractions/ILogger.cs#L22 we will notice that ```Log``` method contains ```Func<object, Exception, string> formatter``` a formatter that allow us to format the logged message, but what I have notice from many Logger Provider implementations that **Formatters** should gi

[2015-07-06 16:36] #192 closed

[2015-07-06 17:37] muratg commented on #210
Let's investigate this for beta 6.

[2015-07-06 21:20] justinvp opened #215 "Missing [NotNull] checks"
I was going to submit a PR that added some missing `[NotNull]` checks with associated `Assert.Throws<ArgumentNullException>(() => ...);` tests, but it doesn't look like the `throw new ArgumentNullException(...)` code is being generated when the libraries are built.

 - Is this by design?
 - Is `[NotNull]` still the preferred way to add null checks?
   - If so, should `[NotNull]` be added anyway, w

[2015-07-06 21:33] BrennanConroy commented on #210
This is fixed in beta6 with: 18e367d36f2dac1e5072fa746590da85a779c5c5

[2015-07-06 21:33] #210 closed

[2015-07-06 21:46] Eilon commented on #215
Yes, use `[NotNul]`, but as you noted, it's not implemented yet, so you can't write unit tests for them. Having said that, even once it's implemented we don't plan to write unit tests for such cases anyway because they're not super helpful.

[2015-07-07 10:45] davidfowl commented on #212
I'm not sure this is the right way to go about it? Why not use a sink that understood how to do this sort of thing in a more first class way? For example, the Serilog sink allowed adding information via "enrichers" https://github.com/aspnet/Logging/blob/d072cde33ec988e879504232bd9c43bd75a9a9be/samples/SampleApp/Program.cs#L32. End users can configure their specific application sink with the full r

[2015-07-07 16:35] kichalla commented on #100
I created a new gist(based on @justinvp's gist) with updated code which reflects the latest in Logging repo and also removed code which I felt is not necessary for our scenario(example: registering multiple loggers like Console, NLog etc)

https://gist.github.com/kichalla/47a4b7b4ede18abfd0ee

- When the log is *not* enabled, having extra IsEnabled check in the extension method is on average 6 tim

[2015-07-07 16:54] Eilon commented on #100
I think the ultimate case is that the code doing the logging needs to do this check, and if we have the log methods also do the check that would mean that there's double-cost for the `IsEnabled` check, which is what we want to avoid.

My stance is this:
* Code that has true performance concerns must check `IsEnabled` on its own anyway. This is to prevent other logging costs (such as gathering data

[2015-07-07 17:22] muratg commented on #215
We should probably add the missing `[NotNull]` checks to the code without the unit tests for now. We'll be discussing implementation of actual functionality in Beta 7.

[2015-07-07 17:30] hishamco commented on #212
@davidfowl "enrichers" uses a dictionary behind the scene to add and remove properties, also needs kind of tokens parser to recognize the newly add properties to enrich in the logged message, but what i'm thinking is much more simpler

[2015-07-07 17:39] justinvp commented on #100
Developers don't know they must check `IsEnabled` on its own for the best perf. There are lots of uses in the aspnet libraries that would benefit from their own `IsEnabled` check that currently aren't doing the check. We can go fix all those places, but if someone has to remember to do it, they're going to forget and more misses are going to creep in.

The proposed helper methods wouldn't preclude

[2015-07-07 18:02] davidfowl commented on #100
@kichalla To add more data to the mix. Make sure that the args passed to Log aren't value types. Most of the log statements throughout the stack are either strings are objects. I want to make sure we have all of the right data.

[2015-07-08 06:57] ravengerUA opened #216 "DebugLogger nuget package doesn't contain Debug.WriteLine"
Microsoft.Framework.Logging.Debug nuget package on Myget doesn't contain Debug.WriteLine() in the code.

[2015-07-08 07:37] davidfowl commented on #216
That's right. it's in this package https://www.nuget.org/packages?q=System.Diagnostics.Debug. The System* packages are where the BCL types exist.

[2015-07-08 10:39] ravengerUA commented on #216
I'm talking about this line
[code]

Debug.WriteLine marked with ConditionalAttribute and won't go to compiled code, when you compile and publish this code to nuget packages.

[2015-07-08 12:30] kichalla commented on #216
@davidfowl https://github.com/aspnet/Logging/pull/207/files#r33876417

[2015-07-08 16:14] Eilon commented on #216
Yes, this never worked at all due to the comment @kichalla pointed out.

[2015-07-08 16:15] Eilon commented on #216
@victorhurdugaci can you take a look at this for beta 6?

[2015-07-14 00:07] #216 closed

[2015-07-14 16:54] YZahringer opened #218 "Azure Streaming Log with Trace"
Hello,

"System.Diagnostics.Trace.TraceInformation("Test Trace);" only write in the debug output window.

This should not write in the IIS logs? This should also work with Azure Streaming Log?

[2015-07-15 14:24] adamhathcock opened #219 "Console output"
Right now the LogConsole class writes to the Error stream.  I don't want to do that :)

Should I invest extending the code and make my own IConsole or should I do a PR to allow a custom IConsole?  Or something else?

Thanks.

[2015-07-17 21:16] #34 closed

[2015-07-18 05:20] hishamco commented on #212
@davidfowl  can I provide my humble design?

[2015-07-18 05:26] davidfowl commented on #212
@hishamco This has been moved to the backlog so, no not right now. We're not going to be be looking at this in v1

[2015-07-18 05:31] hishamco commented on #212
Ok @davidfowl

[2015-07-21 16:24] danroth27 opened #220 "Logging and DI"
Originally posted as https://github.com/aspnet/Mvc/issues/2822 from @mbharodia

I have several helper classes.

One of them is a custom implementation of ILogger and ILoggerProvider. I wanted to provide configuration value to ILogger such as file path to log values. I wanted to inject IOption<AppSetting>.

My custom ILogger is created by my custom ILoggerProvider. If I do constructor injection the

[2015-07-21 18:40] Eilon commented on #219
Is there a reason you don't want it to write to the error stream?

[2015-07-22 13:25] adamhathcock commented on #219
I could have sworn Console logging wasn't working unless it was on the Out stream.  Retesting things on VS2015 final with beta5 is proving me wrong.

[2015-07-22 15:56] Eilon commented on #219
By default certainly on Windows both the Out stream and the Error stream are written to the visible console. Only if you do a redirect (e.g. `foo.exe > foo.txt`) do you generally have to worry about Out vs. Error.

[2015-07-22 18:54] adamhathcock commented on #219
Thanks for the info

[2015-07-22 18:54] #219 closed

[2015-07-29 12:02] trevorreeves opened #222 "Clarification of BeginScope extension method"
The `ILogger` `BeginScope` extension method provides the same method signature as the message logging methods.  Which implies that string messages (potentially with log values specified as well) can be provided as the scope state.

Now of course, multiple nested scopes can be created, which implies that multiple scope-messages are specified, hence any log calls inside one of these scopes will poss

[2015-07-29 12:25] kichalla commented on #222
Serilog has a sink for ElasticSearch where you can see these nested scoped log values & messages. https://github.com/serilog/serilog-dnx-prerelease
Also there is an [ElmLoggerProvider](https://github.com/aspnet/Diagnostics/blob/dev/src/Microsoft.AspNet.Diagnostics.Elm/ElmLogger.cs) where the scoping provides a visual representation of the nested scopes and messages.

An example of where  this is u

[2015-07-29 13:54] trevorreeves commented on #222
Thanks for replying.

1). Forgive me if I'm getting this completely wrong, but Serilog-dnx-prerelease contains some sinks and enrichers.  I was referring to the SerilogLoggerProvider  : https://github.com/serilog/serilog-framework-logging/blob/dev/src/Serilog.Framework.Logging/SerilogLoggerProvider.cs#L43

Which tries to cast the scope state to ILogValues to get the values out of the log message.

[2015-07-29 15:50] muratg commented on #208
A composite logger provider would be an overkill here.  Let's just do the basic thing (if there's an exception, do not stop and continue to call others in the chain)

[2015-07-29 16:40] hishamco commented on #208
We could do that @muratg, but shall we log the exception to other logger providers, because if we didn't the user may don't know why this logger has been stopped

[2015-07-30 13:32] #222 closed

[2015-07-30 16:43] borgdylan commented on #220
FromServices is an Mvc-ism.

[2015-08-03 14:04] kspearrin opened #226 "EventId a string instead of int"
Can you explain a little more what the purpose of the `eventId` parameter is, and why it is an int currently? My understand of how this can be used is as a logical grouping of logs that can be filtered on some common "event id".

If this understanding is correct, I would expect eventIds be more flexible to match ids that fit my data source, namely Guids and strings. A string would be the most flex

[2015-08-03 23:01] kichalla commented on #74
I no longer see any usage of `ReflectionBasedLogValues` under any repos of `aspnet` organization, so I think we are good to close this issue.

[2015-08-03 23:01] #74 closed

[2015-08-03 23:28] kichalla commented on #72
I couldn't find any other place where we are doing this anymore. So we are good to close this one.

[2015-08-03 23:28] #72 closed

[2015-08-04 17:34] glennc commented on #226
The intent here is that a given event id is for a specific event, rather than a logical grouping of events. Such as event 532 means that I couldn't connect to the database. Event 533 means that a user failed to login, something of that sort.

As such we felt that an integer made the most sense for the field.

[2015-08-04 17:34] #226 closed

[2015-08-04 17:45] kspearrin commented on #226
Ok, that makes sense then. Thanks

[2015-08-11 16:56] #208 closed

[2015-08-11 20:39] kichalla commented on #83
commit 9a6b53d75d6fbfcfbc1888d6badf1411f1a4b137

[2015-08-11 20:39] #83 closed

[2015-08-12 11:18] adamhathcock opened #231 "Static LogManager"
I was wondering if there was a place for a static logging context instead of having to have ILoggerFactory injected into each constructor then creating ILogger for each class I want to use logging.

In log4net, typically you just add the line that looks something like this: "private static readonly ILog log = LogManager.GetCurrentClassLogger()" and most other logging frameworks (NLog, Serilog) hav

[2015-08-12 14:30] davidfowl commented on #231
Statics have all the same downsides they always had. It makes things harder to test or be multi-tenant. The fact that we avoid statics completely means we don't have to think about those problems. Our tests can run in parallel freely without the fear of shared static state.

You can of course create your own static but this library won't be providing any out of the box for you.

[2015-08-13 17:38] #231 closed

[2015-08-13 20:28] kichalla commented on #99
commit b65fc9692043a3204662b5f4794c0930f499078e

[2015-08-13 20:28] #99 closed

[2015-08-14 18:46] kspearrin opened #233 "Include eventId to factory Add extensions filter parameter"
Currently we are given the ability to filter logs for each provider based on the category string and level enum when adding them to the factory like so:

    loggerFactory.AddDebug( ( category, level ) => level >= LogLevel.Information );

It would be nice if the we were given the option to filter by eventId as well:

    loggerFactory.AddDebug( ( category, level, event ) =>
        level >= LogLev

[2015-08-14 20:15] DamianEdwards opened #234 "FormattedLogValues is allocated per-logger call. Can that be avoided as a ctor?"
Can the formatter-worker be created-and-used at logger site instead?

![formattedlogvalues](https://cloud.githubusercontent.com/assets/249088/9283173/8871e1ba-4286-11e5-900b-0fae8f286be0.jpg)

[2015-08-16 16:04] Tratcher opened #235 "Logging test fails if console background is not black."
_From @BillKrat on August 15, 2015 12:40_

Microsoft.Framework.Logging.Test fails if default console background is not black.  I was thrown for a loop because I discovered it in git shell but it passed when running from Visual Studio.

1. Open console
2. Right click on caption bar and select properties
3. Select colors tab
4. Select dark blue (second color next to black)
5. Execute "dnx . test"

!

[2015-08-16 16:04] Tratcher commented on #235
_From @BrennanConroy on August 16, 2015 0:0_

Could you log this in the Logging repo

[2015-08-17 15:02] czema opened #237 "NLog LogLevels are mismatched."
In NLog, Trace is the lowest level and Debug is the second lowest.  In MS Logging, Debug is the lowest and Verbose is second lowest.  NLogLoggerProvider.cs::75 needs to be changed.

    private global::NLog.LogLevel GetLogLevel(LogLevel logLevel)
        {
            switch (logLevel)
            {
                case LogLevel.Debug: return global::NLog.LogLevel.Trace;
                case LogLe

[2015-08-19 08:01] adamhathcock commented on #237
Serilog has a similar issue.  Both NLog and Serilog have Verbose/Trace being the lowest level while Debug is the second lowest.  MF.Logging has Debug being the lowest.

What is the reasoning?  Any chance MF.Logging can change this?  I realize this could be too late.

I'm used to log4net where there is no Trace/Verbose just Debug so I've been confused for a while.

[2015-08-19 10:00] nblumhardt commented on #237
+1 if it is at all possible to consider a change at this point; a bit awful having Verbose => Debug and Debug => Verbose :-)

[2015-08-20 19:55] gnewtzie opened #238 "dnu restore doesn't find the beta6 packages for NLog"
I'm having an issue where the beta 6 packages can't be found when doing a dnu restore on a project. The main Microsoft.Framework.Logging package can be found but not the NLog package for beta 6.

"Microsoft.Framework.Logging": "1.0.0-beta6",

I've tried `1.0.0-*`, `1.0.0-beta6`, `1.0.0-beta6*`, `1.0.0-beta6-11503`... they all don't find the package anymore. Only if i had already cached it in my dn

[2015-08-22 14:47] csunali commented on #220
I am in a similar situation and need to inject a service to my Logger Provider or my Logger. So, how about adding a provider using its type rather than an instance?

Currently, we are adding new providers using the following code and we need to construct all dependencies ourselves.

[code]

That becomes a problem if we still don't know what would be the exact type of the dependency until we have t

[2015-08-22 16:12] michalstepien commented on #238
I have the same error.

[2015-08-26 17:33] glennc commented on #238
@gnewtzie What feeds are you restoring from?

@victorhurdugaci Can you take a quick look at this and see what's going on?

[2015-08-26 17:33] glennc commented on #238
/cc @shirhatti

[2015-08-26 18:05] shirhatti commented on #238
We don't plan to ship a package for `NLog`
We have prototyped what using `NLog` might look like, but it is not officially supported. You are always welcome to grab the source from [here](https://github.com/aspnet/Logging/tree/dev/src/Microsoft.Framework.Logging.NLog) and use it.

[2015-08-26 18:05] #238 closed

[2015-08-26 19:28] michalstepien commented on #238
Ok, thanks, in this sample is use: https://github.com/aspnet/Identity/tree/dev/samples/IdentitySample.Mvc

[2015-08-31 19:55] ardalis opened #239 "LoggerExtensions Can't Combine Exception and Format String"
If you want to log:
1) eventId
2) Exception
3) Formatted message

There is currently no extension method allowing this. Can we add one, or should this scenario just use the Log method? Here is the proposed signature:
        public static LogCritical([NotNull] this ILogger logger, int eventId, string format, Exception error, params object[] args)

I just ran into this while trying to log an except

[2015-08-31 19:56] ardalis opened #240 "LoggerExtensions in Abstractions Folder"
LoggerExtensions.cs should be moved out of the Abstractions folder. It's already not in that namespace.

[2015-08-31 20:08] ardalis commented on #239
This seems to be a current workaround -
                    var values = new FormattedLogValues("{eventId}: Unexpected error handling request {path}:", eventId, context.Request.Path);
                    _logger.LogCritical(eventId, values, ex);

[2015-08-31 21:21] davidfowl commented on #240
I don't understand the suggestion.

[2015-09-01 01:06] ardalis commented on #240
LoggerExtensions isn't an abstraction, but the file is in the Abstractions folder.

The class isn't in the Abstractions namespace, which adds weight to the argument that the class does not belong in that folder.

[2015-09-02 17:19] glennc commented on #240
LoggerExtensions contains extension methods for ILogger, which is an abstraction and in the same namespace as LoggerExtensions. Are you arguing that we move the extension methods out of the assembly of the type they are extending?

[2015-09-02 19:39] ardalis commented on #240
I think my understanding of the project organization wasn't very good when I opened this issue. I had thought that Abstractions was a folder within the Logging project, not necessarily its own package, and having the extensions within that folder, but in a different namespace, seemed odd to me. Now I see that it is in fact a separate package, which does change things a bit. I still think it a bit

[2015-09-02 19:39] #240 closed

[2015-09-03 18:52] aggieben commented on #237
I prefer Debug as lower than Verbose.  In an ideal world, one could have:
[code]

I'm actually having problems with `Microsoft.Framework.Logging.Serilog.SerilogLogger.ConvertLevel()`:

[code]

[2015-09-03 19:04] czema commented on #237
Looks like you are using an older beta of Microsoft.Framework.Logging.  Beta-7 doesn't include Serilog.  Please see https://github.com/serilog/serilog-framework-logging

As for your particular problem, if you look at the [beta-4 version of Serilog](https://github.com/aspnet/Logging/blob/1.0.0-beta4/src/Microsoft.Framework.Logging.Serilog/SerilogLogger.cs#L93) you will see that LogLevel.Debug does

[2015-09-03 19:15] aggieben commented on #237
@czema sorry - I deleted my comment because I realized I was commenting in the wrong repo (and that my problem not what I thought it was at first blush, as you pointed out).

[2015-09-08 22:07] jods4 opened #242 "Question: is App_Data still a thing?"
In old-school ASP.NET, `App_Data` was a special folder. Because ASP.NET watched files for changes (and restarted when say, an .aspx page changed) it was ill-advised to modify files or folders at runtime.

To support scenarios where you _want_ to write files at runtime (e.g. dynamic images generation, file-based database, **or log files**) `App_Data` was a special folder, inside which you could fre

[2015-09-09 17:15] muratg commented on #242
https://github.com/aspnet/Hosting/issues/344

cc @victorhurdugaci

[2015-09-10 17:27] Eilon commented on #242
`App_Data` didn't really have anything to do with restarting apps as far as I know.

There were only two special things about `App_Data` from what I recall:

1. It was not servable by the web server
2. It was writeable by the app

Item (1) isn't an issue anymore because in ASP.NET 5 apps only the content in the `wwwroot/` folder is servable. So you can put data files anywhere in the app except tha

[2015-09-10 17:28] davidfowl commented on #242
You should assume that file watching is a development feature only. You have to shutdown the application yourself if you want to have it restart (on IIS at least).

[2015-09-10 17:45] jods4 commented on #242
OK so the short answer is:
Put your log files anywhere you like in the app folder but outside `wwwroot`

Thanks.

[2015-09-10 17:45] #242 closed

[2015-09-10 17:56] Eilon commented on #242
Pretty much!

[2015-09-10 17:57] Eilon commented on #242
Or perhaps even better, send the logs to a remote server. If your server is in a cloud environment, the file system might not be a reliable place to put data.

[2015-09-10 17:59] blowdart commented on #242
In addition you should consider putting your log files on a separate drive to your OS. Log files take up a lot of space if they're detailed, and it's better if they're off the OS drive, so failure is more graceful.

Web Apps should be on their own drive as well as a matter of course to minimise problems of path transversal in buggy apps.

[2015-09-10 18:05] jods4 commented on #242
Thanks for the additional tips.
The app is an on-premise enterprisy thing and filesystem is what the customer wants.

@blowdart Since you mention space...
The goal here is not to log everything ASP.NET 5 logs, but only some app-specific data with relevant information for troubleshooting (e.g. notably uncaught exceptions). So the log is expected to be pretty small and will surely be configured on a

[2015-09-10 18:08] blowdart commented on #242
I can't answer the question of which logger because I'm just the security person, but I would say if you're logging uncaught exceptions an attacker can probably detect those (via status code 500), run fiddler, keep sending the same request over and over and, well, there we go :)

[2015-09-10 18:17] jods4 commented on #242
@blowdart we're going on a tangent here I'm afraid, but I'm curious :smiley:

You are right of course about that. But is this something that an application should care about?
To succeed in bringing your server down this way an attacker would have to spam it hard. If you are a public property exposed to DoS attacks and want to prevent them, wouldn't that be the job of a dedicated proxy that filters

[2015-09-10 18:21] blowdart commented on #242
Security tangents are what I excel at :) Windows will truncate the event log by default at 64k. So it was better than non-rotating logs. But yea, you'd hopefully have a proxy, waf or something else in front of your app, but just in case you'd also harden the app config as part of defence in depth.

[2015-09-10 18:28] jods4 commented on #242
OK thanks. I did not know that Event Log was cut by default at 64K. I am surprised as it seems the event log contains a lot of data for 64K on my machine (or maybe there's a GPO that raised that limit here).

Good logging framework (e.g. NLog) let you rotate your logs by size as well, so that's an option of course.

[2015-09-10 18:46] blowdart commented on #242
Of course generally you'd have a secure this OS roll-out script anyway, right? :)

(I went looking for the default size, and can find 20Mb back in the 2003 days. So yea, it's probably greater. My memory is awful, apologies)

[2015-09-11 17:49] glennc commented on #154
@ycrumeyrolle Does that make it clear enough for you?

[2015-09-11 17:49] #154 closed

[2015-09-11 18:46] ycrumeyrolle commented on #154
:+1:

[2015-09-12 23:11] #235 closed

[2015-09-16 15:08] poke opened #245 "Custom ILogValues objects are ignored with the LoggerExtensions"
Custom `ILogValues` types are currently ignored when producing the log output. The `ILogValues` contract suggests that you just need to expose a key/value enumerable in order to have them somewhat nicely outputted to the log.

However, because of how the Log methods [are implemented](https://github.com/aspnet/Logging/blob/98fe4f77b99dc93fb7faf0888f0430195377c0ff/src/Microsoft.Framework.Logging.Abs

[2015-09-16 17:10] muratg commented on #245
I think each `ILogValues` implementation should override `ToString()` if a custom output is required.  Our implementation does this.  Perhaps it should be part of documentation.

@lodejard @davidfowl thoughts?

[2015-09-16 19:44] jarroda commented on #218
Any help on this issue?  I am unable to get log output to show in the Azure web app log stream.

[2015-09-17 17:14] lodejard opened #246 "Structured logging needs a performance-critical usage pattern"
It needs to have a way for parameters to be typed, and for format lookup and parsing to be done once, and for a short-circuit of is enabled to have an allocation-free path.

[2015-09-18 18:13] AspNetSmurfLab opened #247 "ConsoleLogger doesn't use LoggerFactory.MinimumLevel by default"
See this line: https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Framework.Logging.Console/ConsoleLoggerFactoryExtensions.cs#L16

This means the following doesn't result in verbose messages being emitted:

[code]

[2015-09-20 21:42] nblumhardt commented on #237
@czema @aggieben the Serilog provider moved over to be maintained by the Serilog project: https://github.com/serilog/serilog-framework-logging

The more time I spend with this the more of an annoyance I think it might turn out to be. At RTM, anyone wanting to take advantage of the structured logging support in _Microsoft.Framework.Logging_ is likely to do it via one of the already-existing Serilog

[2015-09-20 21:59] nblumhardt commented on #237
(Should add, I'm happy to PR this if it's a viable change.)

[2015-09-20 22:30] PureKrome commented on #237
Another plus :one: to making `Trace`/`Verbose` as the lowest and `Debug` and 2nd lowest.

[2015-09-22 17:09] herecydev commented on #247
Whilst I get while it may feel counter-intuitive for you to explicitly set the `MinimumLevel` and for it not to be actioned, the XML documentation clearly states it's for information or higher. An overload is provided for just what you want.

However, I would agree that making decisions (i.e minimum of information) on behalf of the user is dangerous, and at absolutely minimum should respect the `I

[2015-09-23 13:30] ngonzalezromero opened #248 "Logger null exception"
i have this method

[code]

but fails with the following error

[code]

Startup class

[code]

proyect.json

[code]

[2015-09-23 16:25] Eilon commented on #248
@ngonzalezromero can you debug this and see what the inner exceptions of the aggregate exceptions are? That will tell you the real exception that's happening.

[2015-09-23 17:12] ngonzalezromero commented on #248
System.AggregateException: An error occurred while writing to logger(s). ---> System.NullReferenceException: Referencia a objeto no establecida como instancia de un objeto.
   en Serilog.Framework.Logging.SerilogLogger.Log(LogLevel logLevel, Int32 eventId, Object state, Exception exception, Func`3 formatter)
   en Microsoft.Framework.Logging.Logger.Log(LogLevel logLevel, Int32 eventId, Object stat

[2015-09-23 17:20] Eilon commented on #248
The top of the stack is Serilog itself. @nblumhardt , any idea on this?

[2015-09-23 17:25] ngonzalezromero commented on #248
I tried without serilog

      loggerfactory.AddConsole();

and no error occurred
perhaps serilog is the problem

[2015-09-23 22:23] dmitry-ra opened #250 "Question about FileLogger implementation"
Do you plan or wish to implement the FileLogger as part of the aspnet/Logging project or it should be a third-party provider? I have interest to contribute to this feature, but I don't know where it should be.

[2015-09-24 01:28] rynowak opened #251 "Add support for filtering by source/wildcard/level to debug and console"
We want to have a simple experience for using an IConfiguration to setup various log levels for various log sources.

Straw man:
[code]

Once this is done, it needs to go into the template with some reasonable defaults for all of the framework components we include in the template.

[2015-09-24 05:11] Eilon commented on #250
No current plans for this, mostly because there are a lot of great comprehensive solutions that already exist. I think having such a feature built-in would be nice, but I suspect it's a huge amount of work due to what is likely to be a large "minimum viable implementation." Having said that, it's certainly worth a discussion.

[2015-09-24 05:54] muratg commented on #250
I wonder why folks would choose not to use NLog or SeriLog for logging to a file.

Putting in Backlog for further discussion.

[2015-09-24 17:58] muratg commented on #155
We have nuget package verifier now thanks to @ajaybhargavb.  Closing this.

[2015-09-24 17:58] #155 closed

[2015-09-25 00:18] Eilon opened #252 "Move Microsoft.Framework.Logging.Testing to this repo"
It's in https://github.com/aspnet/Testing/ right now.

There are currently some circular references in the repo-to-repo dependencies that we'd like to fix, and this is one of them. The idea of putting this package here is that if you're referencing the regular runtime package, you may very well want the companion test-helper package as well.

Note: the package needs to stay in the `/src` folder be

[2015-09-25 00:19] Eilon commented on #252
Related: https://github.com/aspnet/HttpAbstractions/issues/418

[2015-09-26 15:33] benaadams opened #255 "[Design] Errored loggers causing cascade loops?"
If a logger throws an exception it will be rethrown; and then potentially relogged, which may then throw an exception due to the errant logger, etc, etc or move up throw the exception chain until it rises to the top level of the app?

Should a logger that keeps throwing errors be disconnected for a time?

Also all the error messages say ["An error occurred while writing to logger(s)."](https://git

[2015-09-30 06:16] Eilon opened #257 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-10-04 14:25] pranavkm commented on #257
7ec1ceb004e4bc752e421678d1e06951a674dc9d

[2015-10-04 14:25] #257 closed

[2015-10-08 20:02] DamianEdwards opened #261 "Optimize BeginScope to avoid having to pass a pre-calculated string to it"
This will avoid having to create strings for the scope message before a log message is ever logged. This currently shows up in the profiles for the plaintext benchmark.

@lodejard is putting together a design PR for this.

[2015-10-10 14:58] 304NotModified commented on #237
+1

[2015-10-15 16:46] Eilon commented on #247
This isn't a bug, it's by design. The minimum level indicates that any logs below the specified minimum will not even be seen by loggers, no matter how hard they try.

It is entirely unrelated to the level at which a particular logger will record/save/transmit/render logs.

The console logger, in order to minimize noise, chooses by default to render only Information and higher. Other loggers can c

[2015-10-15 16:46] #247 closed

[2015-10-15 23:51] veccsolutions commented on #23
Since this is now a nuget package will it be fixed? I do have code available I can put in a pull request to fix the issue with callsite showing the framework logging classes/methods instead of the correct one.

[2015-10-16 16:36] Eilon commented on #204
Closing because there does not seem to be an obvious need for this.

[2015-10-16 16:36] #204 closed

[2015-10-17 02:21] Eilon commented on #23
@veccsolutions this is still just a sample that isn't published anywhere. It exists to help us validate our design and is not intended to be full featured. Expect the sample to eventually be deleted.

[2015-10-19 20:15] kichalla commented on #100
Commits: e635b4bc2d379dd84b1d1f10a7b0d0eb4ec2a81b to 7c01b9c3639801d89bd88bb607600c57dfd4cabf

[2015-10-19 20:15] #100 closed

[2015-10-19 22:32] YEVHENO opened #267 "Move LoggerExtensions to sub-namespace of current namespace."
As developer I want to be able not to use class LoggerExtensions. I want to be able implement extension methods for ILogger: LogDebug, LogError etc. Here there is a problem: if I use namespace Microsoft.Extensions.Logging, LoggerExtensions is always visible.

[2015-10-19 23:00] kichalla commented on #252
718ac11d11dc8b3fd0a96c4d866d164f073ef23b

[2015-10-19 23:00] #252 closed

[2015-10-19 23:01] kichalla commented on #252
https://github.com/aspnet/Logging/pull/266

[2015-10-20 04:33] Eilon commented on #267
Hmm not sure what to do about that - it's a general problem with extension methods. If the extension method is in the same namespace and assembly as its target, it'll always be available.

The trade-off here is whether it should be made more complex for the most common case (using the built-in extension methods), or whether there should be more ease of customization.

I think in this case we find

[2015-10-20 04:47] YEVHENO commented on #267
The problem with existing logger extension methods is the following: they do not allow change formatter. I want implement my own extension methods. For instance name LogError is quite reasonable for me. But it would be quite confusing to have two sets of such extension methods.

[2015-10-20 04:53] Eilon commented on #267
Can you share more about what you want to do with a custom formatter?

[2015-10-20 05:07] YEVHENO commented on #267
Unfortunately I'm not supposed share logs format that I need to write. It should be more complex than existing formatter. And I cannot achieve what I need with that level of customization.

[2015-10-20 05:16] Eilon commented on #267
Can you solve this by writing a custom ILoggerProvider instead? Ultimately the formatters are just about converting the data into a string format, which is intended to be *human*-readable, so the exact format generally doesn't matter a whole lot. An ILoggerProvider, on the other hand, gets the raw data values, so it can store those in a machine-readable format.

[2015-10-20 05:44] YEVHENO commented on #267
I can definitely solve this by writing custom ILoggerProvider and ILogger. If I do formatting inside ILogger implementation, that would simply mean that it should ignore formatter passed through Log method. Then, what is the purpose of the formatter and why it should be a part of Log method signature?

[2015-10-20 16:43] Eilon commented on #267
The formatter is just about converting the data to strings for loggers that don't understand structured data. If I understood, your logger *does* understand structured data and is less interested in the human-readable string. Is that correct?

[2015-10-20 17:50] muratg commented on #190
Closing this one as @Eilon's suggestion should work.

[2015-10-20 17:50] #190 closed

[2015-10-20 18:42] YEVHENO commented on #267
My expectation was that logger should not understand data structure and formatter should be responsible for that.

[2015-10-20 19:55] Eilon commented on #267
If a logger wants to support structured logging then it needs to at least understand that the logs have structure, though it need not know what that structure is. That is, it needs to know that in addition to a human-readable string there are also key/value pairs, but it doesn't have to care about what is in those key/value pairs.

Can you provide more details about what is special about your impl

[2015-10-20 20:13] YEVHENO commented on #267
This is what existing formatter does if I pass state and error: string.Format(CultureInfo.CurrentCulture, "{0}{1}{2}", state, Environment.NewLine, error).

Let's say I want to have something like this: string.Format(CultureInfo.CurrentCulture, "{0}|:|{1}: {2}", state, error, error.StackTrace).

[2015-10-20 20:27] npnelson commented on #218
+1 on this. I can't get this to work either.  I don't think it was working before beta8, but now that beta8 requires Kestrel, that might complicate the issue even more.  It would be nice to get an official statement, even if the statement happens to be "we won't be supporting this anytime soon"

[2015-10-20 22:13] Eilon commented on #267
That seems like a fairly minimal change that doesn't affect human readability. I'm not saying it's bad, but it doesn't seem to be in the spirit of keeping the formatter as a human-readability processor.

[2015-10-23 00:12] natemcmaster opened #270 "Logging no longer installs into .NET 4.5.1 projects"
This started failing for build# >=15725

Repro:

1. Create vanilla Console App, targeting .Net 4.5.1
2. `Install-Package Microsoft.Extensions.Logging -Source https://www.myget.org/F/aspnetcidev/ -Pre`

Result: cannot add reference to System.Collections.Concurrent

![image](https://cloud.githubusercontent.com/assets/2696087/10681609/e91635c2-78df-11e5-8403-2870068d9ee2.png)

[2015-10-23 00:14] natemcmaster commented on #270
cc @pranavkm started in cceb0dcc43e572ebcd3650b7628e052e22308b85

[2015-10-23 02:15] pranavkm commented on #270
Seems to work fine:

[code]

Can you verify if there's something wrong with your cache?

[2015-10-23 02:27] natemcmaster commented on #270
@pranavkm I cleared all caches. Still broken. Here is the verbose log: https://gist.githubusercontent.com/natemcmaster/b3a21b155bc6898be8e9/raw/dcae91b3c21387a4fc370672a442b1d056ad7f29/pmc.log

Note: this is for a "Console Application", not a class library. Are we not planning on supporting this type of project anymore?

[2015-10-23 14:16] pranavkm commented on #270
Still not seeing this:

[code]

The project system shouldn't matter to the package. @emgarten any idea why he'd be seeing this error?

[2015-10-23 15:45] emgarten commented on #270
@natemcmaster you mention .NET 4.5.1 but the log shows the project as .NET 4.6. Are you also seeing this on 4.5.1?

The GAC error is likely due to a package specifying a framework reference for that assembly, can you check if it does exist in the GAC on your machine? The framework reference may be incorrect for that framework.

[2015-10-23 16:10] natemcmaster commented on #270
@emgarten yes, the log I posted was from a net46 run, but the bug reproduces on net451. The error is the same. System.Collections.Concurrent is in the GAC.

[2015-10-23 16:12] natemcmaster commented on #270
Closing. This bug is due to something weird with my VS installation. Time to reinstall my OS.

[2015-10-23 19:22] victorhurdugaci opened #272 "Add LoggerMessage.Define overloads for 0, 4, 5, and 6 args"
Please add a non generic version of `LoggerMessage.Define` because there are cases in which the logged message doesn't have any parameters

[2015-10-25 04:22] ashimoon opened #275 "Unintuitive: DebugLoggerFactoryExtensions.AddDebug defaults to LogLevel.Information"
This was a bit of a head scratcher, I added a `Debug` logger to my beta8 project using the `AddDebug` extension method here:

https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Debug/DebugLoggerFactoryExtensions.cs#L18

However, my log statements weren't being shown in the `Debug` output window. When I dug into the source I saw that the default log level for `AddDebug` is.

[2015-10-26 19:36] muratg commented on #261
Just talked to @lodejard.  Moving is issues to RC2.

[2015-10-26 19:37] muratg commented on #246
Just talked to @lodejard.  Moving is issues to RC2.

[2015-10-26 23:18] natemcmaster commented on #270
Still having issues.

[2015-10-26 23:20] natemcmaster commented on #270
@pranavkm @sebastienros Should https://github.com/aspnet/Logging/blob/7fe4239da5fdbf3d4a555f85bca0c91621d126e9/src/Microsoft.Extensions.Logging/project.json#L21 have a version number?

[2015-10-27 00:34] pranavkm commented on #270
Still not seeing this.

[2015-10-27 00:57] sebastienros commented on #270
This PR is fixing the issue for EntityFramework.Core, which is the one I am seeing causing the issue, not Logging
https://github.com/aspnet/EntityFramework/pull/3571

[2015-10-27 00:58] #270 closed

[2015-10-27 20:54] tugberkugurlu commented on #237
:+1: change this, break me :smile: PowerShell also has Debug as the lowest level.

[2015-10-27 20:56] tugberkugurlu commented on #237
sorry, I was thinking this is the serilog repo, got excited. I would say Debug is the correct lowest level. PowerShell also has Debug as the lower level.

[2015-10-27 21:50] nblumhardt commented on #237
@tugberkugurlu just to clarify why I think this is a worthwhile change, I don't think it's so much a question of correctness, since "debugging" and "verbose logs" go hand in hand. For example:

https://technet.microsoft.com/en-us/library/hh849951.aspx

It's probably one of those things where whichever you see first seems like the natural choice (as with many things you can find valid rationales fo

[2015-10-27 21:54] PureKrome commented on #237
@ ASPNET team - any feedback on this issue? Thoughts:

1. We're going to change it (before RTM)
2. We're too busy to think about this _but we will answer this before RTM_
3. We're too busy to think about this _and will deal with it POST RTM_
4. We're not going to change it because XXXX reason(s).

Cheers :)

[2015-10-27 22:01] 304NotModified commented on #237
Good sum up @purekrome!

[2015-10-28 03:52] Eilon commented on #275
The logger providers are named based on *where* they write information to (e.g. console, Windows Event Log, etc.). The Debug logger provider writes information to the Debug output window. It is unrelated to the level of detail that is flowed to it, which is separately configurable.

[2015-10-28 03:56] Eilon commented on #237
I think we're considering "merging" the Debug and Verbose values back into one. We had split them apart a while ago for some reasons that we don't think are needed anymore. If that's the case, we might be able to simplify things a bit.

[2015-10-28 04:40] PureKrome commented on #237
Thanks @Eilon for the prompt update :+1: Very much appreciated :smiley:

[2015-10-28 05:11] ashimoon commented on #275
@Eilon Thanks for the response, I think I get it - providers have configurable logging levels independent of logger logging levels, right?

However in the case of the Debug output window, what are your thoughts on the default logging level for that provider? I'm trying to approach this from the viewpoint of a newcomer to ASP.NET 5 - they want logging, they add a Debug logger, and then add a bunch

[2015-10-28 07:26] nblumhardt commented on #237
+1 also, thanks @PureKrome and @Eilon! :-)

The merging idea sounds like a winner to me, FWIW.

[2015-10-28 07:27] davidfowl commented on #237
What @Eilon is failing to mention is that by merging we we're going to call it Verbug or Debose :smile:

[2015-10-28 07:31] PureKrome commented on #237
![lol](http://i.imgur.com/QaSg0LD.gif)

[2015-10-28 07:43] adamhathcock commented on #237
+1 for Verbug

[2015-10-28 16:51] Eilon commented on #275
Yeah I do agree it can be a bit confusing - and you're not the first one to feel some confusion around it :smile:

The reason for Information being the default is that as a whole we decided that the frameworks (ASP.NET + EF) should emit about ~10 log messages at the Information level or higher on a "typical" request (started, some DB queries, routing, MVC, view rendering, etc.).

If the default wa

[2015-10-28 17:05] ashimoon commented on #275
@Eilon Okay that makes sense. I would agree with that. Also once a new user encounters this issue one time they will probably understand it pretty well going forward.

I'm still wondering if you have any thoughts on how it can be easier for newcomers? I'm thinking specifically about this piece of code that gets scaffolded automatically in a new ASP.NET 5 project:

    loggerFactory.MinimumLevel =

[2015-10-28 17:15] Eilon commented on #275
Well, for one, we're considering removing the `MinimumLevel` option to begin with - that should help reduce some confusion.

Beyond that, perhaps by changing the templates to say something like:

[code]

Would make it a bit clearer what that option is saying.

[2015-10-28 21:50] kichalla opened #279 "Modify how OS platform is detected in ConsoleLogger"
Current:
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Console/ConsoleLogger.cs#L40

Use the following API instead
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/src/RuntimeInformation.Windows.cs#L8

[2015-10-29 16:12] ErikEJ opened #280 "Logging does not install on .NET 4.5.1"
I have the same issue as the closed:  #270 - as reported here: https://github.com/aspnet/EntityFramework/issues/3553

[2015-10-29 16:57] kichalla commented on #280
I tried to repro this now by pointing to `aspnetcidev` feed and I am unable to repro it...

after installing..
[code]

[2015-10-29 16:59] ErikEJ commented on #280
On a old school 4,5,1 Class library project?

[2015-10-29 17:00] kichalla commented on #280
yeah right...in my case an old school 4.5.1 console application...

[2015-10-29 17:19] ErikEJ commented on #280
@kichalla Wrong package! (It is called .Extensions now)
 But removing all previous package references unblocked me... Thanks!

[2015-10-29 17:19] #280 closed

[2015-10-29 17:53] kichalla commented on #272
Ideally using `Define` is not required in the case where you are *not* using a message format string and do not have any parameters to pass. `Define` was optimized for these cases for perf reasons.

That said, we currently have an extension for `DefineScope` which does not take in any arguments...probably this should be removed to keep it consistent with `Define` @rynowak
https://github.com/aspnet

[2015-10-30 11:05] kichalla opened #281 "Console Logger's colors on Mac are incorrect"
Example:

![ansiconsoleonmac](https://cloud.githubusercontent.com/assets/6559784/10844254/6f5df986-7ebb-11e5-905b-33ca346d496f.png)

[2015-10-30 14:36] BrennanConroy commented on #281
Is this mono? It has color issues.

[2015-10-30 21:07] rynowak opened #282 "Change name of Switches in configuration for ConsoleLogger"
_From @rustd on October 30, 2015 20:40_

hange name of the switch from Switches -> LogLevel or something better.

_Copied from original issue: aspnet/Configuration#324_

[2015-10-30 21:07] rynowak commented on #282
_From @divega on October 30, 2015 21:4_

@rynowak does this bug belong in Logging?

[2015-10-30 21:07] rynowak commented on #282
Yep. I'll move it.

[2015-10-30 21:51] rustd commented on #282
Can you please update the templates as well once we have a successful coherence-signed build with these changes /cc @joeloff

[2015-10-30 21:53] rynowak opened #284 "Support buffering per-scope in Console Logger"
We want to add a feature that will buffer all outgoing log messages while inside a scope, so they can be grouped and separated with a trailing newline.

This will make the formatting much more readable for understanding units of work.

[2015-10-30 21:54] rynowak opened #285 "Support additional formatting options for ConsoleLogger"
We want to have support for configuring scopes / category name / eventId / timestamps, etc.

[2015-10-30 22:02] rynowak commented on #282
Leaving this open to track the change to the templates. This just went into release.

[2015-10-31 19:14] Eilon opened #287 "Clean up duplicated #if's for NET451"
Stuff like this:

[code]

E.g. here: https://github.com/aspnet/Logging/blob/cceb0dcc43e572ebcd3650b7628e052e22308b85/src/Microsoft.Extensions.Logging.TraceSource/TraceSourceScope.cs#L24

Not sure if this appears in other repos, but I'm guessing due to mass search & replace this might be in a few other places.

[2015-11-02 18:44] troydai opened #288 "Consider move NullLogger to Microsoft.Extensions.Logging"
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Testing/NullLogger.cs is helpful in situation to prevent null instance been injected.

[code]

Leave it in the `Microsoft.Extensions.Logging.Testing` packages make the application to depend on additional package and namespace.

[2015-11-03 20:08] rynowak commented on #282
As of 12 PST this still hasn't made it through coherence signed.

[2015-11-03 21:55] rustd commented on #282
:(

[2015-11-04 05:05] ashimoon commented on #275
Interesting, looks like you guys are adding some Configuration integration for Logging. Looks pretty cool. I see that the default logging level is now `Verbose` for non System/Microsoft loggers right? That might help a lot.

I also read in another issue that you guys are considering merging `Debug` and `Verbose`? Is that why you chose to use `Verbose` as the new default log level?

[2015-11-04 07:00] Eilon commented on #275
BTW the defaults themselves haven't changed per se, but the *project templates* will set some particular log levels.

[2015-11-04 07:08] ashimoon commented on #275
Right, yes that is more accurate.

notice that the ILoggerFactory minimum level was removed from the template (web app) as well but it seems that the property still exists. Is that to discourage people to use that property?

[2015-11-04 18:15] #287 closed

[2015-11-04 22:03] rynowak commented on #282
This has gone into release in templates

[2015-11-04 22:03] #282 closed

[2015-11-12 00:48] kirthik opened #290 "Logger dynamic reload does not work for webapps on Linux coreclr"
When I change the logging level in .json file while the web app is running, changes are not reflected on console for Linux on coreclr. If I restart the app, then changes are reflected. Dynamic reload works on Console app on the same platform.

For reference here is my code

`HomeController`  -
[code]

`appsettings.json` -
[code]

[2015-11-12 22:17] MarkPflug opened #291 "ILogger.BeginScopeImpl naming question"
What is "Impl" supposed to mean? Why would this method not just be called BeginScope?

[2015-11-13 04:45] Eilon commented on #291
It's a scary looking name because it's meant to be scary :smile:

It is so named because it is a core implementation of the interface but users generally shouldn't call it. There's instead an extension methods for `BeginScope` that provides more user-friendly versions of the method.

[2015-11-13 17:50] TJSoftware opened #292 "How do I create ILoggerFactory logs with NLog?"
### Summary
I am attempting to add NLog to the ILoggerFactory in a web application.  I am using a cloned copy of [your console sample](https://github.com/aspnet/Logging/tree/dev/samples) as a guide.  I have also been reading [this article](http://www.howtobuildsoftware.com/index.php/how-do/bhqn/dependency-injection-nlog-aspnet-5-add-nlog-provider-to-iloggerfactory).  When I added `Microsoft.Framew

[2015-11-14 13:33] loqix opened #293 "Remove dependence Microsoft.Extensions.PlatformAbstractions"
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Console/ConsoleLogger.cs#L45
RuntimeEnvironmentHelper.IsWindows cann't run on .net core console host app, it can instead RuntimeInformation.IsOSPlatform(OSPlatform.Windows)

[2015-11-14 14:07] davidfowl commented on #293
@loqix in RC1 that's the case, but in RC2 it won't be. https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Extensions.PlatformAbstractions/DefaultRuntimeEnvironment.cs#L63

We'll likely remove the dependency anyways since it makes sense.

[2015-11-16 11:56] htuomola commented on #280
I see this same exact error when trying to update packages in a .NET 4.5.2 class library project. I tried uninstalling and installing the packages but even that doesn't work.

[code]
Am I missing something?

[2015-11-16 19:52] runxc1 opened #294 "No Overload for Exception, error format and args."
There are quite a few overloads but there aren't any that accept the Exception along with an error format string and args.  This seems to be how I most often want to use it.  Is there any reason not to add an overload for that?

[2015-11-17 15:18] MikeyBurkman opened #295 "Access to unformatted strings"
So I'm working on a provider that would send our errors/warnings to an external error tracking application. I can't send the entire formatted message there, as it would result in a unique occurrence of that error message every time. (Not to mention some possible privacy concerns.) I would like to send the unformatted message as a way of tracking the message.

For instance, given the line:

[code]

[2015-11-17 15:20] MikeyBurkman commented on #295
As an addendum to this, there are certain types that our logger will always have to obfuscate for security purposes. While I can enumerate the keys/values from ILogValues, I don't seem to be able to change the values at all. Again, having access to both the format string and the values would allow me to get around this.

[2015-11-17 17:01] kichalla commented on #295
@MikeyBurkman Regarding the original format string, there is an item in the log values list with key called `{OriginalFormat}` representing it

[2015-11-17 19:09] MikeyBurkman commented on #295
That seems... not very type-safe... That's also is assuming an undocumented implementation detail of a class inside a namespace that contains the word "Internal". I mean, it does work for now, but it's hardly something I would trust to put in production code.

[2015-11-17 19:15] kichalla commented on #295
cc @loudej @lodejard

[2015-11-18 01:08] Eilon commented on #272
We should have overloads for: no parameters, and also need to add overloads for 4, 5, and 6 args.

[2015-11-18 17:31] #272 closed

[2015-11-18 23:33] QrystaL commented on #280
Have the same problem with .net 4.6 class library...

[2015-11-20 03:38] Eilon opened #298 "Remove ILoggerFactory.MinimumLevel"
This property has two things going against it:
1. Everyone thinks it does something other than what it does. (This can be mitigated by a rename of some sort.)
2. It's not needed anymore. It was added to avoid sensitive information being logged inadvertently. This was later decided to be a non-issue.

This is teh codez: https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Abs

[2015-11-20 03:39] Eilon opened #299 "Rename LogLevel.Verbose to .Trace and modify its severity to be below .Debug"
It has two things going against it:
1. Its relative order within the `LogLevel` enum is inconsistent with other logging systems. This can easily be confusing to users.
2. It doesn't exist at all in some logging systems. This means that it would have to flow through as a different level when using one of those sinks.

This is teh codez: https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Exten

[2015-11-20 03:40] lodejard commented on #298
:+1: this should have been removed a while ago!

[2015-11-20 04:11] lodejard commented on #299
Good to make it consistent. How about changing the order to `Verbose`,`Debug`,`Information`,etc. but keeping the Verbose/Debug distinction for the benefit of the loggers which have them?

[2015-11-20 17:34] muratg commented on #298
Agreed!

@JunTaoLuo :gift:

[2015-11-20 17:36] muratg commented on #299
:+1:

[2015-11-22 16:45] prasannavl opened #300 "RemoveProvider in ILoggerFactory"
Is there a way to dynamically remove a log provider? I wonder why it wasn't a part of the initial design decision. Unless, I'm missing something, it should've been the natural course of design.

This will help immensely to add and remove loggers in runtime based on conditions. Say when need, a provider could be add to enable deep logging on production systems on demand.

[2015-11-22 21:25] Eilon commented on #300
@lodejard thoughts?

Though I'm wondering, can providers even be *added* at runtime (that is, after Startup)?

[2015-11-22 21:40] lodejard commented on #300
Yep, they can be added at any time. The default ILoggerFactory keeps track of the ILogger instances that have been created in order to attach the new provider on the fly. (that code is thread safe, you can add a provider while existing loggers are being written to) (plus it helps reduce overhead to return the same ILogger every time it's asked for).

Part of the reason removing isn't implemented i

[2015-11-23 02:03] prasannavl commented on #300
@lodejard, ILoggerProvider Wrapper is a solution. But looks like a lot of work for a simple scenario. The major problem I see is in the current internal implementation of the `LoggerFactory` and `Logger`, but not the concept itself.

Superficially speaking if a `DefaultLoggerProvider` could be created which tracks its own `Loggers` - this problem could be alleviated. Now, the new problem would be

[2015-11-23 03:01] prasannavl commented on #300
Or, I guess an easier option would be to just create another map that maps ILoggers to their providers.

[2015-11-23 11:21] prasannavl commented on #300
Add a quick implementation to `RemoveProvider` only to the core classes, not the interfaces. Let me know if this acceptable. Then we can propagate that to the interfaces, add tests etc.

[2015-11-24 01:52] Eilon commented on #300
At this time we do not believe that there are sufficiently compelling scenarios to necessitate "remove" functionality on the logger factory. Ultimately a "real" logger will need to be used in any production application because none of the built-in loggers are persistent.

[2015-11-24 01:52] #300 closed

[2015-11-24 17:15] Mertsch commented on #299
I agree with @lodejard
From my programming history I was absolutely sure that Debug is above Verbose

But you could also argue that the Debug level should be considered a special dev only level and therefore is even more detailed then a verbose setting.
I would be willing to see it as this, but then the documentation needs to be very explicit about this fact, to not confuse devs too much

[2015-11-24 17:20] Mertsch opened #303 "AddEventLog(EventLogSettings) extension XML doc does not properly document the API"
The following 1.0.0-rc1-final code copies the XML doc of ```AddEventLog(this ILoggerFactory factory, LogLevel minLevel)``` but there is no ```minLevel```, you need to set a filter within ```EventLogSettings```.

[code]

[2015-11-24 18:09] Eilon commented on #299
@JunTaoLuo make sure to update the wiki in this repo as well.

[2015-11-24 18:09] Eilon commented on #299
And post an announcement.

[2015-11-24 19:30] davidfowl commented on #303
@Mertsch care to send a pull request?

[2015-11-24 19:41] Mertsch commented on #303
@davidfowl yes, will do so within the next 2 days.

[2015-11-24 20:24] lodejard commented on #261
Closed, this is implemented by ilogger's define messages and lazy evaluation of string message and trace identifier.

[2015-11-24 20:24] #261 closed

[2015-11-24 20:24] lodejard commented on #246
This is implemented by recent "define message" static methods added to logging

[2015-11-24 20:24] #246 closed

[2015-11-25 00:29] JunTaoLuo commented on #299
@muratg I took a look at a few logging frameworks. Seems like not many loggers have both debug and verbose but SmartInspect does have the same order we do. Loggers that have both verbose and trace seem to put trace as the least severe level though.

Language | .NET | .NET | .NET | .NET | .NET | Java | Java | Java | Java | Java | Java | Javascript
------------ | ------------ | ------------ | ------

[2015-11-25 00:43] lodejard commented on #299
Nice research! There's Serilog also, which is `Fatal/Error/Warning/Information/Debug/Verbose` that corresponds to the Nlog `Fatal/Error/Warn/Info/Debug/Trace`. I believe what you would say is that Verbose == Trace when you map the levels to that system, which seems fine.

In that case only SmartInspect puts Debug below Verbose-or-Trace, all others put Verbose-or-Trace as the lowest value. We shoul

[2015-11-25 01:49] JunTaoLuo commented on #299
Agreed. Just curious if we should rename it to Trace since that is uniformly less severe than Debug across the board.

[2015-11-25 02:20] muratg commented on #299
Thanks @JunTaoLuo! I think renaming it to Trace as well as reordering make sense looking at all the other ones.

[2015-11-25 14:57] TJSoftware commented on #299
@JunTaoLuo Nice job!  NLog, log4net, log4j, and probably the rest also have an `OFF` state.  It may be useful to have an `OFF` state in the `LogLevel` enum.

![image](https://cloud.githubusercontent.com/assets/4823412/11400328/fdbdf51c-9349-11e5-9910-82e995e7991f.png)

[2015-11-25 19:15] JunTaoLuo commented on #299
@TJSoftware Maybe you are looking for `None`?

[2015-11-25 19:22] TJSoftware commented on #299
@JunTaoLuo `None` would certainly work to turn show that I do not want to use logging in a certain scenario.  Just some way to turn off (disable) the logging component using the logger factory ...

[code]

[2015-11-25 19:26] JunTaoLuo commented on #299
@TJSoftware We are removing `loggerFactory.MinimumLevel` altogether in #298.

[2015-11-25 20:11] TJSoftware commented on #299
@JunTaoLuo  Ahh, I missed that, I primarly was looking for the LogLevel enum.  I see now that Louis DeJardin added `None` on Oct 29th.  It must be for `RC2`, as I do not see it in `RC1` yet.  Thank you for following up.

###### Commit
https://github.com/aspnet/Logging/commit/9f38745066b4eedf3a6bb97b0d6f9ee79ab1acde

###### LogLevel.cs
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extens

[2015-11-25 22:51] muratg commented on #292
Currently we're not releasing M.E.L.NLog package on nuget.  You should be able to clone the source and add it to your solution though.

Pre ASP.NET 5 methods for adding packages would not work, as you need to have all your references in project.json.

[2015-11-25 22:53] muratg commented on #303
@JunTaoLuo you can get the PR in once it's sent.

[2015-11-25 23:00] muratg commented on #295
@MikeyBurkman Agreed, you should not use internal implementation details.

Your use case is still not clear to me, but if you want to track the message, can't you just use the state object as an identifier?

[2015-11-25 23:05] muratg commented on #294
I think the main reason would be already crowded intellisense for these extension methods.

Would using ILogValues and have an entry for the Exception work?  It doesn't seem ideal but should be doable.

Of course you can add your own extension methods, just follow https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Abstractions/LoggerExtensions.cs

[2015-11-26 22:21] Mertsch opened #304 "(EventLog)Logger does not catch exceptions internally and is able to crash the application"
I encountered an error today which prevents me from writing to the database, because the logger throws an exception while logging.
Should we consider making logging more robust and never throw exceptions to the caller that relate purely to the logging itself?

Note: I will report the size violation in a separate Issue.
[code]

[2015-11-26 22:29] Mertsch opened #305 "EventLogLogger may throw an exception when the message is too big"
The Event log has a message size restriction
```Log entry string is too long. A string written to the event log cannot exceed 32766 characters.```

Note: The limit is not 32766 characters, but 31839!

Why 31839? See here http://msdn.microsoft.com/en-us/library/windows/desktop/aa363679.aspx
Also look at .NET framework code, which limits to 32766 see System.Diagnostics.EventLog.InternalWriteEvent

[

[2015-11-26 22:39] Mertsch commented on #303
PR is here https://github.com/aspnet/Logging/pull/306

[2015-11-29 01:55] Eilon commented on #304
I think we've debated this before and decided it might be best to allow it to blow up. At least, that's where I stand on this.

The problem with a faulty logger is that you have nowhere to log the failure (duh :smile: ). And if the failure is hidden from all observers, a faulty logger will possibly never be discovered.

[2015-11-30 09:49] makzr commented on #292
I agree with TJSoftware, the sample code doesn't work for me either.

I copied the files "NLogLoggerProvider.cs" and "NLogLoggerFactoryExtensions.cs" to my project and referenced NLog in my project.json:
[code]
The I added the following code to my Startup.cs:
[code]
I used the simple file logger from the samples project:
[code]
The application compiles, but the log file is not created.
I'm using W

[2015-11-30 15:25] TJSoftware commented on #292
##### Summary
I was able to do some more tests since I first posted this, I should have updated the thread, but better late than never.  I was also able to get the [sample console solution](https://github.com/aspnet/Logging/tree/dev/samples) to build and run, however I do not see the `file.txt` created as the NLog config is setup for.  What I do see is the logs being displayed on the console print

[2015-11-30 16:12] makzr commented on #292
Yes, you should expect a log file "file.txt" to be created.

When you do the configuration in code (see my example) the log file is created in the wwwroot folder.

[2015-11-30 17:37] TJSoftware commented on #292
@makzr Yes, adding the configuration in cs code provides me with a file now.  I made the changes to the sample console project you mentioned as well as update to NLogLoggerProvider.  There was a reference to an obsolete method.  I added the IFormatProvider parameter and moved the exception to the new parameter location.  Thank you for the solution.

[code]

This gives me a better understanding of

[2015-11-30 17:59] Eilon commented on #292
@TJSoftware the NLog provider was just a temporary sample for us to verify compatibility with existing logging systems. The [readme](https://github.com/aspnet/Logging/) in this repo has pointers to logging systems with official providers.

[2015-11-30 18:07] #292 closed

[2015-11-30 18:16] JunTaoLuo commented on #303
Merged to dev after minor grammar update. Thanks @Mertsch!

[2015-11-30 18:16] #303 closed

[2015-12-01 11:20] Mertsch commented on #304
Yeah, I totally agree.
But some things to take into consideration ...

In this case I am loosing data, as a critical DB operation fails because a log can't be written -_-

You can have multiple loggers, so a failing logger does not necessarily mean that you lose the log info

How about a logger exception handler? Meaning if logger fails and user did not register specific action for handling those,

[2015-12-01 21:53] heathyates commented on #252
Is Microsoft.Framework.Logging.Testing now called Microsoft.Extensions.Logging?

[2015-12-01 21:57] kichalla commented on #252
Its `Microsoft.Extensions.Logging.Testing`

[2015-12-01 22:01] heathyates commented on #252
@kichalla
I tried that and I am getting this in my project.json. I am getting other rc1-final packages without issues?
![image](https://cloud.githubusercontent.com/assets/1896424/11515637/7d443414-9844-11e5-914e-5f1d75f10073.png)
I am using `https://www.nuget.org/api/v2`

[2015-12-01 22:05] kichalla commented on #252
you are right, I do not see it in nuget.org... @Eilon , this package is available on myget's aspnetmaster feed though...is this expected?

[2015-12-01 22:08] TJSoftware commented on #252
'M.E.L.T.' is just a test project to verify if the logging tools are working.  I would not expect that to be deployed to NuGet.  What functionality do you need from 'M.E.L.T.'?

![image](https://cloud.githubusercontent.com/assets/4823412/11515828/2b2f1f9c-983d-11e5-91b3-3018f6bd652e.png)

[2015-12-01 22:11] heathyates commented on #252
@TJSoftware I am honestly not sure why this is in my test project folder. I'll remove it and see if it introduces any breaking changes.

[2015-12-01 22:15] kichalla commented on #252
@TJSoftware the names here are confusing...its `Microsoft.Extensions.Logging.Testing`(under `src` folder in the image above) and not ` Microsoft.Extensions.Logging.Test`...the `Microsoft.Extensions.Logging.Testing` project just contains some mock implementations of loggers which are used in different repos' unit testing and so probably its not very useful for outside users as you can write your ow

[2015-12-01 22:17] TJSoftware commented on #252
@kichalla I saw that too just after I posted.  @heathyates If you are using a clone of the Logging app, there may be changes still.  I found out with [this comment](https://github.com/aspnet/Logging/issues/292#issuecomment-160706959) some features are added just to see if the Logging program works.  I would assume that these are there as not only a test, but as an example to learn from.

[2015-12-02 09:10] adamhathcock opened #309 "NullReferenceException in RuntimeEnvironmentHelper under .NET 4.5 using Logging"
I wrote this under DNX but maybe it's more appropriate here: https://github.com/aspnet/dnx/issues/3218

Basically, the usage of a DNX specific thing causes an exception when trying to use Console logging.  I have a sample and more details on the other issue.

[2015-12-02 09:25] davidfowl commented on #309
Yep, it's a bug. It should be resolved in RC2.

[2015-12-02 09:52] #309 closed

[2015-12-02 19:40] borgdylan opened #311 "Regression: The logging infrastructure crashes and disallows app startup"
Some functionality like action link generation was changed in Mvc and in other areas. The logging packages were not changed to reflect this. This results in failing application startups as the required types cannot be loaded.

[2015-12-02 19:47] kichalla commented on #311
Can you give more details...what kind of exception are you seeing?

[2015-12-02 20:33] borgdylan commented on #311
[code]

[2015-12-02 21:03] borgdylan commented on #311
Also, why is a class that is only present in CoreFX being loaded while on mono and targeting dnx451?

[2015-12-02 22:37] JunTaoLuo commented on #298
merged to dev

[2015-12-02 22:37] #298 closed

[2015-12-03 13:57] joeaudette commented on #298
so is there a new way to set the loglevel?

[2015-12-03 16:22] sunsided opened #312 "CreateLogger<T>() should return ILogger<T>"
Since `ILogger<T>` already is an `ILogger`, shouldn't `LoggerFactoryExtensions.CreateLogger<T>()` return an `ILogger<T>` instead of an `ILogger`?

In order to automatically inject a logger, it needs to be of type `ILogger<T>`. If one needs to create an instance of a class with such a type in the constructor manually (e.g. in a unit test), `ILoggerFactory` is required (either way, since we can't co

[2015-12-03 17:59] Eilon commented on #298
@joeaudette the thing is, this never set the log level. That's why we're removing it. It just sets the minimum *allowed* log level. Each individual logger (e.g. DebugLogger, ConsoleLogger, EventLogLogger, SerilogLogger, etc.) has their own configuration and settings to decide what they track.

[2015-12-03 18:01] joeaudette commented on #298
that makes sense, Thanks!

[2015-12-03 18:17] joeaudette commented on #298
just to help others since breaking change announcements usually provide the old and the new way of doing things.
old way:

    loggerFactory.MinimumLevel = LogLevel.Warning;
    loggerFactory.AddConsole();

new way:

    loggerFactory.AddConsole(minLevel: LogLevel.Warning);

[2015-12-03 19:00] borgdylan commented on #311
@kichalla ping

[2015-12-03 19:02] davidfowl commented on #311
That's strange. What version of mono? Also can you make a minimal repro?

[2015-12-03 19:21] borgdylan commented on #311
I am using mono from git (4.3.0). It is quite obvious that this happens since in your PR you linked in the runtime info API as a build only dependency. CoreFX has an implementation of the API but Mono and probably .NET proper do not. The only solution was to force include thr linux runtime package:
[code]

Any app that includes the console logger provider would trigger this.

[2015-12-03 19:46] JunTaoLuo commented on #298
@joeaudette thanks for the suggestion.

[2015-12-04 10:29] sunsided commented on #298
@joeaudette that makes things clearer indeed.

[2015-12-04 18:43] Eilon commented on #298
BTW, you *always* needed `loggerFactory.AddConsole(minLevel: LogLevel.Warning);` to get the right behavior. So in theory a properly-configured app should just remove the call to `loggerFactory.MinimumLevel`, but everyone was confused, so it was more complicated :smile:

[2015-12-04 20:07] borgdylan commented on #311
@davidfowl Would the respective runtime package be included if the contract assembly is included as a normal dependency? I do not have a knowledge of how runtime specific nupkgs get pulled in by dnx.

[2015-12-04 21:51] davidfowl commented on #311
When you run restore it should restore the lock file should have runtime specific sections. The appropriate one is chosen when you run on DNX. When running on pure mono without DNX you have to use the right tool chain to get the right package.

That actually brings up a good point about that package. It requires a higher nuget client version.

[2015-12-07 18:20] xavierdecoster opened #313 "Microsoft.Extensions.Logging does not install in .NET 4.5.1 project"
It fails with the below error message, caused by a failure to add a framework reference to System.Collections.Concurrent, as defined here:
https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging/project.json#L22

Attempting to resolve dependencies for package 'Microsoft.Extensions.Logging.1.0.0-rc1-final' with DependencyBehavior 'Lowest'
Resolving actions to install package 'Mi

[2015-12-08 00:30] #299 closed

[2015-12-08 00:38] PureKrome commented on #299
RE: the announcement and fix...

![](https://31.media.tumblr.com/43e63461d1e3f22a49b18dbf15227a1d/tumblr_inline_n3t10oQfIh1solpjm.gif)

[2015-12-08 10:57] nblumhardt commented on #299
:+1: :-)

[2015-12-08 14:06] MaximRouiller commented on #299
Man.... that handshake to hug transformation. Epic. ;-)

[2015-12-10 01:24] muratg commented on #312
This makes sense.  @davidfowl what do you think?

@sunsided Would you be interested in sending a PR?

[2015-12-10 01:28] muratg commented on #311
@davidfowl you mean `runtime.linux.System.Runtime.InteropServices.RuntimeInformation`?  File a bug in coreclr?

[2015-12-10 01:31] muratg commented on #313
Thanks for the report.  Could you share a basic repro project?

Also, what does your nuget.config look like?  Are you only using nuget.org?

[2015-12-10 04:29] muratg commented on #304
I agree with @Eilon on this that the logger should not eat exceptions silently.

Which logger are you using here?  Perhaps we can harden (maybe with retries)...

[2015-12-10 06:00] Eilon commented on #304
One could certainly implement their own *wrapping* loggers that have extra fault tolerance...

[2015-12-10 07:00] borgdylan commented on #311
@muratg I had to include it on mono as the dnx451 logging api is compiled against a Corefx contract :/

[2015-12-10 07:02] borgdylan commented on #311
There should be a way to use fully managed APIs that occur only on Corefx with desktop clrs.

[2015-12-10 09:44] xavierdecoster commented on #313
Hi @muratg!

Here's what I did to run into the issue:
1. clone searchcloud branch of NuGet.Services.Metadata repository, open up the solution, set NuGet.Services.BasicSearch as startup project.
2. upgrade this project from NET45 to NET452
3. Using NuGet UI, targeting this project, try installing `Microsoft.Extensions.Logging` v1.0.0-rc1-final, default dependency options (Lowest)
4. check output, l

[2015-12-10 10:07] Mertsch commented on #304
@muratg In my case it was the EventlogLogger see https://github.com/aspnet/Logging/issues/305

[2015-12-10 10:10] Mertsch commented on #305
I can send a pull request that mitigates the issue by trimming the message to a maximum number of characters.
But I have one question. What would you think would be preferable?
```<much more chars> this is too long```
Trim to
```<much more chars> this is to```
or
```<much more chars> this is...```

[2015-12-10 12:08] sunsided commented on #312
@muratg I am, will do. :+1:

[2015-12-10 16:39] muratg commented on #312
@sunsided Thanks!

[2015-12-10 16:47] muratg commented on #313
Can you paste your project.json?  I assume this is an ASP.NET 5 project targeting Desktop CLR...

[2015-12-10 16:54] muratg commented on #305
I think this is by design. I think we rather throw and get the attention of the developer instead of silently trimming the messages and losing data.

[2015-12-10 16:56] muratg commented on #304
@Mertsch I see. I think writing a wrapper around that for your specific usage would be the better option here.  Your Logger would trim your messages (or divide them into multiple log objects, for example) and would eat any other exceptions as required for your app.

[2015-12-10 16:58] xavierdecoster commented on #313
No project.json, no ASPNET5. Just a web project being upgraded from net45 to net452. Code in NuGet/NuGet.Services.Metadata repo on GitHub, cloudsearch branch, NuGet.Services.BasicSearch project
https://github.com/NuGet/NuGet.Services.Metadata/tree/searchcloud/src/NuGet.Services.BasicSearch

[2015-12-10 17:02] muratg commented on #313
Got it. I don't think we ever tested our packages with csproj based projects, and I'm not sure how they would work.

Is your goal just upgrading from net45 to net452?  Or do you intend to port it to DNX as well?

[2015-12-10 17:17] xavierdecoster commented on #313
Actually, the goal is to use these logging packages as an abstraction between our components and the actual logger, e.g. Serilog. We can't take the dependency to the logger (e.g. Serilog) in NuGet service components, but we can rely on Microsoft.Extensions.Logging.Abstractions. See searchcloud-serilog branch how I hacked it in manually (and it works). Only, the Microsoft.Extensions.Logging package

[2015-12-10 17:37] Eilon commented on #312
@lodejard as well. I have a feeling there was some reason for this but I don't remember what it is. Does it have to do with some casting issues that happen in consumers of this or something?

[2015-12-10 17:45] muratg commented on #312
@Eilon `ILogger<T>` implements `ILogger` so this shouldn't require any casting from the consumer side AFAIK.

[2015-12-10 17:55] Eilon commented on #312
Yeah but I feel like there was a reverse substitutability problem or something. Or I could be completely mistaken. Like now that you *force* taking an `ILogger<T>` you can't take an `ILogger` anymore and there might be times where only an `ILogger` is available. The reality is that `ILogger<T>` doesn't *do* anything - it's just a fancy trick to get a type name. It has no meaning of its own. In the

[2015-12-10 18:03] Eilon commented on #305
@muratg interesting. How evil would it be if we split the log entry and logged each section? I know it's super evil. But it seems worse to randomly crash the app...

[2015-12-10 18:16] muratg commented on #313
Hey @davidfowl, is this a project system bug?  Our package has a dependency in `net451` on `System.Collections.Concurrent`, and this actually exists on disk.  DNU is able to restore this properly, while nuget seems to have a problem.

[2015-12-10 18:20] muratg commented on #305
@Eilon I think it would be OK if we make it optional. Perhaps with a new boolean property on https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.EventLog/EventLogSettings.cs

[2015-12-10 22:03] Eilon commented on #305
Or just always do it and beg forgiveness later?

[2015-12-10 23:36] muratg commented on #305
:ok:

[2015-12-11 18:22] muratg commented on #237
This has recently changed.

[2015-12-11 18:22] #237 closed

[2015-12-11 18:23] muratg commented on #144
@glennc Bringing this to your attention :smile:

[2015-12-11 18:41] 304NotModified commented on #237
Changed in what?

[2015-12-11 20:21] dotnetjunkie opened #319 "ILoggingFactory should not implement IDisposable"
A similar issue has been raised [here](https://github.com/aspnet/Mvc/issues/3726). Abstractions should not implement `IDisposable`, as @nblumhardt explained this very clearly almost six years ago (and quoted by @ploeh):

While the default `LoggingFactory` implementation can (and probably must) be disposable, the interface shouldn't be.

[2015-12-11 20:23] ploeh commented on #319
:+1:

[2015-12-11 21:49] muratg commented on #237
https://github.com/aspnet/Announcements/issues/124

[2015-12-11 21:56] muratg commented on #312
@lodejard Any thoughts on this one?

[2015-12-11 22:14] 304NotModified commented on #237
Thanks!

[2015-12-11 22:22] 304NotModified commented on #299
Great news! :+1!!

[2015-12-11 22:38] steve-warwick opened #320 "Logging not working in Azure"
Maybe I'm just missing something, but it appears to me that logging is not working in Azure. I verified that logging works as expected locally.I can see messages in the "Debug" window. In the "Diagnostics logs" blade I have  "Application  Logging (FileSystem)" set to on. The level is set to "Verbose". I have "Application Logging (Blob)" set to on, level set to "Verbose" and configured to a local s

[2015-12-12 22:36] Eilon commented on #319
@lodejard thoughts on this?

[2015-12-13 00:11] adamchester commented on #295
Just FYI - [Serilog/serilog-framework-logging](https://github.com/serilog/serilog-framework-logging) does currently [rely on the internal {@OriginalFormat} key](https://github.com/serilog/serilog-framework-logging/blob/ab9e43fd263d923fa49833026333ccb709220679/src/Serilog.Framework.Logging/SerilogLoggerProvider.cs#L50)

[2015-12-13 01:06] moorandrew commented on #313
Any update on this?

[2015-12-13 01:10] davidfowl commented on #313
It's a csproj bug that nuget is going to work around. I'm not 100% on removing our dependencies just yet.

[2015-12-14 12:47] muratg commented on #313
FYI guys: @yishaigalatzer @emgarten

[2015-12-14 23:25] muratg commented on #320
@kichalla Could you please investigate?

[2015-12-14 23:33] kichalla commented on #320
@steve-warwick which logger are you using? Is this a custom logger that you implemented? I ask as we do not have an out of the box logger to log in Azure. Could you share how your logger code looks like?

The following website is running ASP.NET 5 RC1 version and uses Serilog framework to log into Azure Document Db, so logging works fine in general.
http://packagesearch.azurewebsites.net/

[2015-12-15 00:10] pranavkm commented on #290
This one seems odd. I was able to get a minimal repro by adding a `FileSystemWatcher` to the application's Startup. For Mvc applications events are raised until the first request following which the watcher never raises events. The issue reproes with the minimal Mvc sample (no views) and one with everything compiled (so no DNX file watchers). The issue doesn't repro with vanilla Kestrel (I used th

[2015-12-15 01:05] Eilon commented on #290
Do you have a guess as to where the bug is? In ASP.NET? CLR? OS?

[2015-12-15 16:41] kichalla commented on #320
@steve-warwick ping

[2015-12-15 17:43] steve-warwick commented on #320
I assumed there was a default azure logging framework built into the Azure for ASP.NET 5. Looks like I made an incorrect assumption. Is this going to be case for GA? Seems like a glaring omission to me. The link you provided above doesn't show anything. Could you provide a link that works?

[2015-12-15 17:57] kichalla commented on #320
That link was only to the website that is using the logging and doesn't show any logs actually. Following is some info on how to use Serilog's framework to add logging to your app in Azure:

**project.json**(note that the following packages do not work on core clr)
[code]

**In Startup's Configure method:**
[code]

[2015-12-15 18:33] kichalla commented on #311
I am seeing similar exception when I enabled MusicStore tests to be run on Mac Travis-ci. The mono version here is 4.0.5
However this issue does not occur on Linux.

[2015-12-17 00:22] kichalla commented on #320
Closing this issue now. If you run into any issue feel free to open an issue.

[2015-12-17 00:22] #320 closed

[2015-12-17 16:54] pranavkm commented on #290
@davidfowl, the issue seems to crop up once we invoke `ILibraryManager.GetReferencingLibraries'. Here's the minimal repro steps:

[code]

Are we overwhelming it with watches when we invoke `GetReferencingLibraries`? That said, since the implementation of `ILibraryManager` is going to change, I'm going to hold off on digging into it any further.

[2015-12-17 16:56] pranavkm commented on #290
@Eilon, both @kirthik and I have been using Ubuntu machines. I'm not sure if this issue also affects OSX.

[2015-12-17 17:16] davidfowl commented on #290
I'm not sure how ILibraryManager could be affecting anything. It's looking up a dictionary entry.

[2015-12-17 23:21] pranavkm commented on #290
Should I dig into it further or just wait until we swtich to the CLI's implementation of `ILibraryManager`?

[2015-12-18 18:29] muratg commented on #313
This issue was moved to NuGet/Home#1855

[2015-12-18 18:29] #313 closed

[2015-12-18 18:37] muratg commented on #319
@rynowak What are your thoughts on this (and [the corresponding MVC bug](https://github.com/aspnet/Mvc/issues/3726))?

We should follow similar patterns...

[2015-12-18 18:39] muratg commented on #312
@rynowak Do you remember if we had a reason for the current design as @Eilon alludes to?

[2015-12-18 18:42] muratg commented on #305
Per @Eilon's suggestion we've decided to split the messages if they're larger than the limit.  Assigning to @kichalla

[2015-12-18 18:44] muratg commented on #304
We'll be changing the event log logging provider (for #305) for the specific issue, but we won't be in general catching and swallowing exceptions in all loggers by default.  Closing this one.

[2015-12-18 18:44] #304 closed

[2015-12-18 18:45] rynowak commented on #312
I don't recall any of that. I wasn't involved with the design of `ILogger<T>`

[2015-12-18 18:51] muratg commented on #293
Fixed in https://github.com/aspnet/Logging/commit/67388033a4bec697832a6e748722e36664181b7b

[2015-12-18 18:51] #293 closed

[2015-12-18 18:57] muratg commented on #275
MinimumLevel was removed as part of this: https://github.com/aspnet/Logging/issues/298

Closing this per the discussion above.

[2015-12-18 18:57] #275 closed

[2015-12-18 19:01] muratg commented on #281
@kichalla Does CoreCLR have the same issue?

[2015-12-18 19:02] muratg commented on #218
@kichalla Did you recently do an investigation similar to this?

[2015-12-18 19:03] muratg commented on #248
Closing as this looks like a serilog issue.

[2015-12-18 19:03] #248 closed

[2015-12-18 19:03] muratg commented on #220
@lodejard Thoughts?

[2015-12-18 19:05] muratg commented on #234
@DamianEdwards As we have improved the perf of the stack overall, did this become more important?

[2015-12-18 19:07] kichalla commented on #218
@muratg No. For the packagesearch website I used Serilog framework + Azure DocumentDb

[2015-12-18 19:07] lodejard commented on #312
There's no reason, it's just that `ILogger CreateLogger<T>` was always present, and `ILogger<T>` was added much later as an IoC trick. We can change it to `ILogger<T> CreateLogger<T>()` - it'll be returning a wrapper but that should be fine.

[2015-12-18 19:15] lodejard commented on #220
IoC container isn't ready to provide services until you reach the `Configure` method - `Startup` constructor and `ConfigureServices` methods are too soon.

To do what you're attempting try adding `MyLoggerProvider` to the container inside `ConfigureServices`. Then once you're in the `Configure` method do `loggerFactory.AddProvider((ILoggerProvider)services.GetService(typeof(MyLoggerProvider))` - t

[2015-12-18 19:32] muratg commented on #218
@Eilon I remember you were discussing this (logging in Azure) in another issue somewhere, but I can't seem to find it.  What was the outcome?

[2015-12-18 19:33] muratg commented on #312
Thanks!   @kichalla, could you review and take the PR in?

@sunsided Thanks for the contribution.

[2015-12-18 22:59] nblumhardt commented on #248
Yes, looks like this was in the Serilog integration code. There's been a fair bit of change since September, I'd suspect this is no longer an issue (at least, there have been no other reports).

@ngonzalezromero please feel free to open  ticket on https://github.com/serilog/serilog-framework-logging referencing this one if you still observe an error here.

(@Eilon, sorry I missed your comment the

[2015-12-19 04:08] ashimoon commented on #275
I noticed that, Latest version of logging looks really nice and intuitive. Good stuff guys, thanks for following up.

[2015-12-28 14:10] DasJott opened #325 "LogLevel Debug not shown in Console logger"
AddConsole(LogLevel.Debug) does not show strings from Loggers doing

_logger.LogDebug("Foo");

[2015-12-28 17:44] kichalla commented on #312
d679c78ab257375d26343207877b3d483c093d29

[2015-12-28 17:44] #312 closed

[2015-12-28 21:21] kichalla commented on #311
f7c9fc32a801bc0c756931adfdca73ab4657727a

[2015-12-28 21:21] #311 closed

[2015-12-28 21:41] lodejard opened #326 "Logger from Type name shouldn't include generic parameters"
At the moment I believe an ILogger for `MyNamespace.MyClass<AnotherNamespace.AnotherType>` will  return a logger category name which ends with the `<AnotherNamespace.AnotherType>`

It shouldn't, really, because the logging configuration decisions should be made only on the `MyNamespace.MyClass` portion. Especially because systems which do logger configuration inheritance are based on a `.` delimit

[2015-12-28 21:41] lodejard commented on #326
/cc @muratg @Eilon

[2015-12-28 22:00] muratg commented on #326
:+1:

[2015-12-28 23:46] Eilon commented on #218
Sorry I don't recall.

[2015-12-28 23:47] Eilon commented on #326
The poor type beautifier... and all the work that went into... copying existing code from another project :frowning:

[2015-12-29 00:39] Eilon commented on #319
Discussed with @rynowak and @lodejard and we agree the interface shouldn't implement `IDisposable`.

[2015-12-29 03:18] endink opened #327 "how to fix Failed to add reference to 'System.Collections.Concurrent'?"
Cant use Logging with .net Framework 4.5.1 project, some denpendeny missed when nuget restoring and throw: Failed to add reference to 'System.Collections.Concurrent'. Please make sure that it is in the Global Assembly Cache.
Maybe because of EntityFramework?

[2015-12-29 15:25] cwe1ss opened #328 "EventSource implementation"
Hi, I created a logger implementation which forwards messages to a System.Diagnostics.Tracing.EventSource and was wondering if this would be interesting for you since EventSource is one of the recommended ways to log in the .NET framework.

https://github.com/cwe1ss/Logging/tree/EventSource/src/Microsoft.Extensions.Logging.EventSource

it has the following features:
* it's a general purpose EventS

[2015-12-29 17:58] muratg commented on #218
@davidfowl @lodejard What are your thoughts on this?  Should we recommend people to use something like Serilog or should we have an implementation that does this?

[2015-12-29 18:25] Eilon commented on #218
Would be really great to support Azure streaming logs automatically. Can we talk to an Azure person to see what we have to do to be compatible? Does it just listen to some particular output, e.g. console? Or something?

[2015-12-29 21:39] muratg commented on #218
I'll ping @davidebbo

[2015-12-29 22:02] davidebbo commented on #218
I have an experimental project that should make that work today: https://github.com/davidebbo-test/ConsoleInterceptor. Give it a try and see how it fares.

[2015-12-30 16:13] npnelson commented on #218
I got the consoleinterceptor to stream logs without any trouble, but I couldn't get them to upload to Blob storage by enabling Application Logging (blob) on the Azure web site.  I'm not sure how the Application Log (blob) works for classic ASP.NET apps.

Perhaps a classic ASP.NET app drops the log files in a different path than the console interceptor?

It's probably user error on my part - I didn

[2015-12-30 19:23] kichalla commented on #305
6c29db36515ccd86dc367b5b07d790c2ff7a898b

[2015-12-30 19:23] #305 closed

[2015-12-30 19:24] kichalla commented on #326
d14f47546320901e4d29b8fa03504af001640fa7

[2015-12-30 19:24] #326 closed

[2015-12-30 22:09] davidebbo commented on #218
Blob/Table storage is not supported at this point. For class .NET, it works via a registered trace listener, but that concept doesn't exist in ASP.NET 5 afaik. It's something we'll need to solve.

[2015-12-31 00:59] muratg opened #331 "Changes to Logging API surface"
- Have all levels (`Critical`, `Debug`, `Error`, `Warning`, `Information`, `Verbose`) have the same overloads as extension methods:
  - `Log....(this ILogger logger, EventId eventId, Exception exception, string message, params object[] args);`
  - `Log....(this ILogger logger, EventId eventId, string message, params object[] args);`
  - `Log....(this ILogger logger, string message, params object[]

[2015-12-31 01:00] muratg commented on #331
cc @Eilon @rynowak @lodejard @davidfowl @divega @bricelam

[2015-12-31 19:03] Eilon commented on #319
@lodejard putting on your plate.

[2016-01-03 22:57] cwe1ss opened #332 "What's the future of log abstractions like ASP.NET 5 ILogger, LibLog, EventSource, ..."
Hi everyone! This is a rather philosophical question but still, it would be great if I could get some opinions from you guys!

I'm currently working on a quite big new "microservices"-like project with many services. Routing all log entries into one central repository is a key to success in my opinion. Therefore I've been reading a lot about this topic lately and unfortunately the more I read the

[2016-01-03 23:24] WilBloodworth opened #333 "LogLevel.None"
Please either change LogLevel.None's value to 0 or provide a different log level that has a value of 0.

Right now, there isn't an entry in this enumeration with the value of 0.  I consider this an error even though it is allowed (i.e. compiles).  For example, if you take, "default(LogLevel)" what does it return?... 0.  But 0 isn't a valid value for LogLevel.

Please simply change None to be 0 and

[2016-01-03 23:52] benaadams commented on #333
Might work for listeners/loggers that want a couple levels but not others

[2016-01-04 17:58] muratg commented on #331
We will start this work shortly.

[2016-01-04 18:54] muratg commented on #251
@rynowak Do we want this in V1, or is this a post V1?

[2016-01-04 18:55] muratg commented on #255
@benaadams do you have a repro, or is this theoretical? We had some discussions about exceptions in the loggers (wheter to prevent any exception from loggers or not), and our feeling like loggers should throw exceptions.  Of course cascade loops are probably should not happen.

[2016-01-04 18:59] benaadams commented on #255
Was theoretical; happy to close it - likely to be more a setup issue also.

[2016-01-04 18:59] #255 closed

[2016-01-04 19:01] muratg commented on #284
Two questions around this:
- If apps (let's say a console app, long running process) doesn't close the scope, do we have a leak, and no log output?
- What happens when there are multiple threads writing to the Console logger?

[2016-01-04 19:03] muratg commented on #281
@BrennanConroy Do you know if CoreCLR has this issue?  If this is Mono only, we can move to Backlog.

[2016-01-04 19:06] muratg commented on #325
This should work in theory. Could you share a basic repro?  Is this on CoreCLR Or full CLR.

[2016-01-04 19:08] muratg commented on #327
This doesn't seem to be the right place for this bug.  @anurse Do you remember discussing about this elsewhere?

[2016-01-04 19:09] muratg commented on #328
@lodejard @Eilon @davidfowl

[2016-01-04 19:09] BrennanConroy commented on #281
I haven't noticed, I'll check

[2016-01-04 21:09] BrennanConroy commented on #281
CoreCLR and Mono have the same colors looks like, what is actually wrong with the colors?

[2016-01-05 16:26] rynowak commented on #251
We added the support for this to Console logger. IMO we can live without it for debug logger for now.

The remaining work here is to make sure the template is in good shape. We tried to ship this in the template in rc1, but ran into blocking bugs and reverted the change.

[2016-01-05 17:12] muratg commented on #251
@rustd Is the template work re: console logger tracked in TFS or GitHub?

[2016-01-05 17:29] veccsolutions opened #335 "Logging a null value"
When calling

[code]

and token is null string, I get an argument null exception.

I would have expected it to have logged "Unable to resolve token: <>"

Here is the stack trace:
[code]

[2016-01-05 17:44] veccsolutions commented on #335
Oh, one possible easy fix,
In Microsoft.Extensions.Logging.Internal.LogValuesFormatter:Format method, change the last 3 lines from

[code]

to

[code]

[2016-01-05 22:39] rustd commented on #251
Template work is GitHub. If there are any tooling changes required then it is TFS

[2016-01-06 16:54] muratg commented on #251
@rustd Please file a ticket on templates repo if you'd like to have these in the templates in RC2.

[2016-01-06 16:54] #251 closed

[2016-01-06 18:17] muratg commented on #239
Please see https://github.com/aspnet/Logging/issues/331 for the work that we're currently doing to rationalize logger extensions.

[2016-01-06 18:23] muratg commented on #332
https://github.com/aspnet/Logging/issues/328

[2016-01-06 18:26] muratg commented on #333
@lodejard  How about starting with -2 for `Trace`, and having 0 as `Information`?

[2016-01-06 23:32] muratg commented on #284
Punting for now.

[2016-01-06 23:37] muratg commented on #288
Triaged out.

[2016-01-06 23:37] #288 closed

[2016-01-06 23:45] muratg commented on #333
@WilBloodworth using `default` on an enum is not a common case, AFAIK.  What's the use case where you would do default(LogLevel)?

[2016-01-06 23:50] muratg commented on #335
@BrennanConroy Could you investigate?

[2016-01-06 23:53] muratg commented on #335
@veccsolutions What's the type of `token`?  Is it a `string`, or an `object[]`?

[2016-01-07 04:39] veccsolutions commented on #335
@muratg token is a string value.

[2016-01-07 15:47] sescandell commented on #325
@DasJott are you in a "IIS" Context?

I had to use `AddDebug(LogLevel.Debug)` in order to make it working (in a IISExpress run from VS15).

[2016-01-09 09:28] fengjb commented on #335
string token = null;
_logger.LogInformation("Unable to resolve token: <{0}>", token);

[2016-01-09 10:52] DasJott commented on #325
Sorry, I am a few days in offline world.
This bug appears in a small project running in dnx on Linux.
Every level works perfectly, except the debug one.
Do I Miss an include or something?
Am 07.01.2016 4:47 nachm. schrieb "Stéphane" <notifications@github.com>:

[2016-01-09 21:27] muratg commented on #325
@DasJott When you're back, could you please share your repro?  DNX version you're using, your project.json, and a simple program.cs would suffice.

[2016-01-10 00:01] DasJott commented on #325
Of course I will. I try  as soon as possible.
Am 09.01.2016 10:27 nachm. schrieb "Murat Girgin" <notifications@github.com

[2016-01-10 14:52] ravindrapro opened #337 "Logging in azure"
ILogger emitting traces in local. but when we deploy in azure website its not emitting any traces. i have tried our sample app but not working. need help!

[2016-01-10 19:45] DasJott commented on #325
I attached the whole small project, simply zipped.

In Startup.cs, line 31, is where the loglevel is set.
In BundleService.cs, line 27 should originally be LogDebug, but as that doesn't appear anywhere, I chose LogVerbose for now.

[HelloMvc.zip](https://github.com/aspnet/Logging/files/85134/HelloMvc.zip)

[2016-01-11 16:38] muratg commented on #325
@BrennanConroy Could you take a look?

[2016-01-11 18:50] BrennanConroy commented on #325
So there is a MinimumLevel value in the LoggerFactory which is causing your Debug logs to not be shown, you can set this value in your Startup.cs. It has since been removed in RC2 see https://github.com/aspnet/Announcements/issues/122

[2016-01-11 19:45] DasJott commented on #325
Okay, that was not intuitive. Didn't try it though...
Can I get the rc2 somehow using the version manager?
Thanks for figuring it out for me, @BrennanConroy!

[2016-01-11 21:10] BrennanConroy commented on #325
Change your feed to https://myget.org/F/aspnetvnext/api/v2 and change your dependencies.

[2016-01-11 21:10] #325 closed

[2016-01-12 18:47] #327 closed

[2016-01-12 18:49] muratg commented on #333
We had a discussion on this with @glennc and @lodejard.

@BrennanConroy let's remove the number from the enum, and leave "None" at the bottom (because it has to be the largest.)  Make sure to put a comment to remind folks keeping "None" at the bottom with any future change.

[2016-01-12 18:51] muratg commented on #337
Dup of https://github.com/aspnet/Logging/issues/218

[2016-01-12 18:51] #337 closed

[2016-01-16 22:04] NickCraver commented on #331
Might I suggest a `[breaking-change]` label rather than (or in addition to) `[bug]` for these? That will help library authors a great deal in filtering what's most important in the future.

[2016-01-16 22:40] NickCraver commented on #333
@muratg I don't think removing the numbers is the best approach here. Without numbers, you're going to get automatic numbering and (potentially) break any library that wasn't recompiled to handle the change later and definitely complicate handling of previously serialized data.

Let's say you insert a new level above Critical, if someone has compiled for None previously, they'll be handling a new

[2016-01-16 23:45] davidfowl commented on #331
We do that on the announcements repository not here

[2016-01-16 23:54] NickCraver commented on #331
@davidfowl that may work for the Microsoft side, but consumers aren't going to keep checking the monolithic announcements repo and filter out the noise to see what affects them on every change. Have you actually tried to consume parts of that? What's the harm in a label on the specific issues as well? It's really very little overhead and is beneficial. On top of that, bug is incorrect - most of th

[2016-01-17 00:11] davidfowl commented on #331
Yes, it's actually very good for breaking API changes.

We need to add it to the other 50 repos. We already settled on a process for tracking breaking changes across this monolithic 1.0 release and that's the Announcements repository. We can revisit after RTM when each of the projects end up on their own release cadences.

You'll need to do it until we RTM. It's how we're tracking breaking change

[2016-01-17 00:23] NickCraver commented on #331
@davidfowl I'm aware of the motivations, just be aware it's not a well received method on the outside. There's no discussion allowed on the one place you're "tracking" breaking changes, and that's not a good thing. As for the grouping: grouping in milestones is for schedules and that's totally understandable. But users have code that touches specific points. Library authors are a more extreme case

[2016-01-17 00:33] davidfowl commented on #331
@NickCraver I hear ya but we're not going to change the process for 1.0, it's approaching at a rapid pace and the current model *does* work. We can look at improving it post 1.0 but we're not going to change our entire process of tracking breaking changes right now, we don't have the time.

PS: This has nothing to do with .NET Core, this is a logging abstractions that's used by ASP.NET application

[2016-01-17 00:41] NickCraver commented on #331
@davidfowl I wouldn't expect a major change - consider this feedback for improving as the schedule allows. This point still stands though:

There's no link here to any breaking change announcement, in either direction. Is that too much to ask? It's not a big process change.

[2016-01-17 00:47] Eilon commented on #331
@NickCraver this change hasn't been committed yet, hence no announcement or discussion yet either. It's still being worked on.

[2016-01-17 00:47] davidfowl commented on #331
That's also why this bug is open :smile: and labeled as "working" not "done".

[2016-01-17 00:58] NickCraver commented on #331
Apologies, since the latest issue in announcements and the other 3 from logging I looked at didn't have links back to any issues in this repo I didn't think any did - I see *most* others actually have a proper link. I still think there's benefit in alerting people earlier (so we can schedule work as well), but also see a process change pre-1.0 isn't likely.

[2016-01-17 01:01] NickCraver commented on #331
Oh and FWIW, @davidfowl :

I wish it *was* in coreclr, or that any consistent interface was for handling logging in general. I'm porting over our exception handling libraries (which will implement the abstractions here) and wish it was the same for non-aspnet applications as well. As it stands I can't find a way to see all unhandled exceptions, but that's an issue by itself - will file in a bit.

[2016-01-19 17:59] Eilon commented on #333
I definitely wouldn't remove the numbers. All enums should always have all values with explicit numbers.

[2016-01-19 22:02] #279 closed

[2016-01-19 22:09] 304NotModified opened #339 "Release Microsoft.Extensions.Logging.NLog?"
We are a bit confused. There is some code here to get NLog working with ASP.Net 5, but it isn't released as NuGet package. Why not? Are there any troubles with this code? Do we (NLog) need to provide our own package?

Cheers,
Julian (NLog team)

Edit: I see this is related: https://github.com/aspnet/Logging/issues/292 (https://github.com/aspnet/Logging/issues/292#issuecomment-160706959)

PS: There

[2016-01-19 22:31] davidfowl commented on #339
We don't own that product so we shouldn't be releasing it on nuget.

Yes! We ideally want to delete this code from our repository. It was here to help validate our extensibility but we'd want the NLog team to own it (similar to how serilog took over).

[2016-01-19 22:34] 304NotModified commented on #339
Thanks for the quick response!

We will fix a package soon. If that is done, the code can be removed here :)

I will let you know!

[2016-01-19 22:37] #339 closed

[2016-01-19 22:40] 304NotModified commented on #156
Hi,

The NLog code will be moved to a new repository. (here)[https://github.com/NLog/NLog.Framework.logging]

We will try fix this also.

[2016-01-19 22:44] 304NotModified commented on #23
Hi,

The NLog provider code will be moved to a new repository. [here](https://github.com/NLog/NLog.Framework.logging)

I think this issue can be closed in this repos.

Thanks for submitting feedback @suhasj !

[2016-01-19 22:57] 304NotModified opened #340 "Proposal: Decorate methods with JetBrains.Annotations.StringFormatMethodAttribute"
Proposal to decorate the log methods with the [`StringFormatMethodAttribute`](https://www.jetbrains.com/resharper/help/Reference__Code_Annotation_Attributes.html#StringFormatMethodAttribute).

Example:

[code]

You get then help from Resharper, including validation of the format message.

Is a PR accepted on this one? (after merge of https://github.com/aspnet/Logging/pull/338 I guess)

[2016-01-19 23:02] 304NotModified commented on #333
Agree with this one.

Somewhat related, in NLog we choose not to use `enums` at all for the LogLevel, see [code](https://github.com/NLog/NLog/blob/d14fb8845d0bada1dbcda28a312b9285a24abc89/src/NLog/LogLevel.cs#L44). This because of extensibility.

[2016-01-20 01:54] lodejard commented on #333
Okay, chatted with some folks, sounds like the proposal would be adjusted slightly to this straw man:

* Keep the explicit constant numeric values in the declaration
* Start with 0 as Trace so that default(LogLevel) gives you a value that's in the set
* Don't skip to int.MaxValue - instead have None be one higher than Critical.

`Trace=0,Debug=1,Information=2,Warning=3,Error=4,Critical=5,None=6`

[2016-01-20 03:11] muratg commented on #333
Does this mean if at any point we add a new level, we'll add it at the end with number 7?

[2016-01-20 03:14] benaadams commented on #333
Could skip some?

`Trace=0,Debug=4,Information=8,Warning=12,Error=16,Critical=20,None=24`

[2016-01-20 04:02] lodejard commented on #333
Oh, guys... :tired_face:...  Are we *certain* this is a place that needs future-proofing?

If so I believe the way that turns out is closer to what NLog and log4j have implemented. As an immutable LogLevel class with pre-defined public static constants for the assorted levels, integers that skip by a large number, and convenience methods on the LogLevel class to help correctly implement a mapping

[2016-01-20 11:08] NickCraver commented on #333
@lodejard I don't think we need to future proof that much really, but `None` should be at 0. That's almost universal in .Net: if there's a `None`, it's at 0. What's the reason for breaking this expectation? It also avoids the problem of a adding a new logging level at the end looking very weird later as `None` starts appearing somewhat randomly in the middle of the list.

`Trace` is no more valid

[2016-01-20 16:44] lodejard commented on #333
None is used for filtering via `>=`. As in "log this level or higher". If None was 0 it would actually act as "All".

[2016-01-20 18:28] cwe1ss commented on #333
I agree with @NickCraver - A enum entry of `None` should have 0 because that's how enums are supposed to work in .NET (just look at [CA1008: Enums should have zero value](https://msdn.microsoft.com/en-us/library/ms182149.aspx) for an example. Giving them a non-zero value is extremely confusing.

Regarding the filtering - I think it depends on the requirement. If you have a `MinimumLevel` property

[2016-01-20 20:06] lodejard commented on #333
Okay, then what is the intended usage of "None" at that point? It doesn't have a meaning as a level of a log message, and it doesn't have a meaning as a filter level.

Should we leave "Trace" as 1, introduce "Off" as higher than "Critical", and change "None" to 0?

This would mean default(LogLevel)==LogLevel.None but that is actually an invalid enum member in both places this enum is used.

[2016-01-20 20:10] benaadams commented on #333
Reverse the enums and invert the tests?

`None=0,Critical=1,Error=2,Warning=3,Information=4,Debug=5,Trace=6`

[2016-01-20 21:11] Eilon commented on #23
@304NotModified awesome, thanks! We'll be deleting the NLog provider here most likely this week.

[2016-01-20 21:11] #23 closed

[2016-01-20 21:11] Eilon opened #341 "Delete NLog provider"
It has moved to https://github.com/NLog/NLog.Framework.logging.

[2016-01-20 21:12] #156 closed

[2016-01-20 21:12] Eilon commented on #23
@304NotModified the removal is tracked here: https://github.com/aspnet/Logging/issues/341

BTW do you want to send us a PR to update the Readme file at https://github.com/aspnet/Logging/blob/dev/README.md to point to NLog?

[2016-01-20 22:07] cwe1ss commented on #333
Another option would be to have neither `None` nor `Off` and just solve the filtering/MinimumLevel problem in a different way (separate method calls, different enum, ...)? As you've said, both values don't make sense as an actual "log level". This way we could use `Trace = 0` which somehow makes sense even if it's used for `default(LogLevel)` and we could apply filtering as expected: `>= Trace` wo

[2016-01-21 17:49] 304NotModified commented on #23
@Eilon sure, will do that when it's done at our site. Can we take over the current code copyright issues?

[2016-01-21 22:14] Eilon commented on #23
@304NotModified not sure what issue that is. Can you email me at elipton_AT_microsoft.com?

[2016-01-21 23:30] 304NotModified opened #343 "Proposal: remove code duplication with T4 templates"
Code duplication is a source of issues and less code is less bugs.

I see a lot of code duplication in
[LoggerExtensions.cs (Abstractions)](https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Abstractions/LoggerExtensions.cs)

That can be easily removed with a T4 template (run at build time). This will ensure that the consistency of the code.

What do you think? PR accepted

[2016-01-21 23:37] 304NotModified commented on #215
Which `[NotNull]` is this? The [`NotNullAttribute` of Jetbrains](https://www.jetbrains.com/resharper/help/Reference__Code_Annotation_Attributes.html#NotNullAttribute)?

[2016-01-21 23:41] muratg commented on #215
We had our own implementation that didn't really work.  It's now removed.  Instead we're using proper null checks within the methods.

Closing this one.

[2016-01-21 23:41] #215 closed

[2016-01-21 23:49] 304NotModified opened #344 "Close old milestones"
I think there are some GitHub milestones that can be closed? (https://github.com/aspnet/Logging/milestones)

e.g. 1.0.0-beta8 and 1.0.0-rc1.

![image](https://cloud.githubusercontent.com/assets/5808377/12498306/def648d4-c0a1-11e5-8111-2d2b28a17e3f.png)

[2016-01-22 18:26] muratg commented on #344
Yup, will do

[2016-01-22 18:26] muratg commented on #343
We won't be accepting PRs as we're closing on RC2.  We can possibly consider this post RC2.

[2016-01-22 18:27] muratg commented on #328
@vancem any updates?

[2016-01-22 18:31] vancem commented on #328
Sorry for the delay.   This last week I have been filling in for a lead who is on leave, and there simply are not enough hours in the day.   I will take a look at this later today.

[2016-01-23 14:05] 304NotModified commented on #23
@Eilon The mail has been sent :)

[2016-01-24 20:32] davidfowl opened #346 "Consider a way to configure logging provider using the DI system"
This code always looks a little bizzare:

[code]

The fact that hosting adds the default ILoggerFactory is fine, but having to resolve it in Configure to add logging providers seems anti to how we've integrated the rest of the stack (it feels bolted on). Also, configuring logging in ConfigureServices would  mean the only thing we configure in Configure would be the http stuff (for the most part).

[2016-01-24 20:53] lodejard commented on #346
All of those changes would make the logging configuration more complex, and also defer when logging "kicks in". By adding the logging provider as early as the startup class ctor in plain-old-c# you can also write messages in the configure services method, much earlier than when the options system and IOC is active.

Also with the Program.Main hosting model we might also want to add a way to pass a

[2016-01-24 21:03] davidfowl commented on #346
That doesn't need to change. You can still inject the `ILoggerFactory` to create loggers but you don't need to add the providers there. We don't even have to block the fact that you can add providers at runtime I just think it should be doable via the DI system as well.

That doesn't make it any cleaner but we should allow for that as well.

`IConfiguration` maybe but `IFileProvider` feels differe

[2016-01-24 21:09] davidfowl commented on #346
@lodejard What if we make this a concern of Hosting instead? We resolve `IEnumerable<ILoggerProvider>` and call AddProvider on the `ILoggerFactory` created in Hosting.

[2016-01-25 00:54] lodejard commented on #346
I could see that as an extra step we add, right after the host gets control back from ConfigureServices and creates the service provider?

[2016-01-25 00:58] davidfowl commented on #346
Yep

[2016-01-25 13:18] DasJott opened #347 "Logger.BeginSope(sParam) should add sParam to output"
When I foudn BeginScope with string as parameter, I immediately thought how cool the idea of scopes is for logging. I thought it would add the given text to every logmessage put out while begin in the scope.

But sadly you have to chance to recognize you are within a scope by looking at the output.

I would expect something like: `NamespaceName.ClassName[0] (ScopeName)`
or anything that makes clea

[2016-01-25 21:50] Eilon commented on #23
Thanks, I just sent you a reply.

[2016-01-26 18:31] vancem commented on #328
This is a straightforward hookup of ILogger to an EventSource.    There are many details of exactly how the transformation gets done that are interesting to vet (which is part of the reason it has been taking me a while to give any feedback).    Currently all events end up in one EventSource and there is no filtering control at the component level (only the level (volume) control).   It also dumps

[2016-01-26 21:46] Eilon commented on #344
@muratg Backlog, really? :trollface:

I just closed the old milestones...

[2016-01-26 21:55] Eilon commented on #340
Interestingly, in the particular case of the logging APIs they are *not* `string.Format` arguments and those are specifically dis-recommended. That is, instead of `The value of {0} is {1}` you should pass in `The value of {foo} is {bar}`. This allows structured logging to have named key/value pairs.

But to answer the more general question: each repo has slightly different views on the JetBrains a

[2016-01-26 22:33] 304NotModified commented on #340
Thanks for the feedback!

At NLog we use the JetBrains annotations are there is no downside on it. (And IMO everyone should use R#)

[2016-01-26 23:41] Eilon commented on #340
The downside is having a lot of annotations :smile:

[2016-01-27 16:02] cwe1ss commented on #328
Hi Vance, thank you very much for your review. As always it is greatly appreciated! I share your concerns and would like to add some more input:

**Should the library target .NET 4.5 or 4.6?**

Damian Edwards said yesterday (ASP.NET Community Standup) that the ASP.NET Core libraries will most likely target .NET 4.5.1 to support Mono. (However, Visual Studio project templates might target .NET 4.6)

[2016-01-27 16:43] BrennanConroy commented on #333
a6b0cd5bd7b44cbc9f56bc59fd6414703aa00bbf

[2016-01-27 16:43] #333 closed

[2016-01-27 23:02] lodejard commented on #328
@vancem Do you know if there is a way to use the EventSource to log dynamic events which are not rooted by a compile-time type? I guess it would be possible to ref-emit a Type at runtime to reach the new Write feature.

[2016-01-27 23:52] NickCraver opened #349 "Update Descriptions/Readme"
I think (*hope*) the intent of this library (especially abstractions) is to be a nice common library for people to use inside and outside of ASPNet Core. I plan on using it that way in our libraries. The intent of scope for use isn't really clear on GitHub though (the only place with more information than the NuGet description). Can this be clarified one way or the other?

Currently the tagline is

[2016-01-27 23:54] BrennanConroy commented on #331
4528bdbc2816a8b5f933d9c6cf2da806ce4a72ea

[2016-01-27 23:54] #331 closed

[2016-01-28 00:01] BrennanConroy opened #350 "[Discussion] Logging API change"
Changes from https://github.com/aspnet/Logging/issues/331 see announcement https://github.com/aspnet/Announcements/issues/148

[2016-01-28 19:53] Tratcher opened #351 "LogInformation(string) throws FormatException"
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Server.Testing/Deployers/SelfHostDeployer.cs#L81
`Logger.LogInformation(dataArgs.Data ?? string.Empty);`
[code]

If the data contains curly brackets then logging may throw a format exception. The logger should not attempt to format data for a simple string with no parameters.
https://github.com/aspnet/Logging/blob/4528bdbc2816a8b5

[2016-01-28 23:29] danroth27 opened #353 "Consider making TraceSourceLogger public"
All of the other ILogger implementations are public, but TraceSourceLogger is internal. Should it be public?

[2016-01-29 18:27] moozzyk opened #355 "Exception details are not logged"
Stack trace is not written when an exception happens so it can be very hard to tell where it originated from:

[code]

[2016-01-29 18:27] moozzyk commented on #355
/cc @BrennanConroy

[2016-01-29 23:27] BrennanConroy commented on #351
Fixed via 6e8bcd962568b3954354ab3534ca5ee6509a8829

[2016-01-29 23:27] #351 closed

[2016-02-01 18:17] muratg commented on #340
Thanks @304NotModified for the suggestion! Agreed with Eilon, since the recommended approach is using c# string interpolation, I don't think this particular attribute would be useful, and would also be needed to added all over the place. Backlogging this for now.

[2016-02-01 23:47] BrennanConroy commented on #341
79d0820b8685f957151603d935c5cacc2700c4ac

[2016-02-01 23:47] #341 closed

[2016-02-02 18:45] muratg commented on #353
@lodejard do you remember why we made this internal?

[2016-02-02 18:52] muratg commented on #347
@DasJott The string input could be arbitrarily long though, so making this change would potentially make the output less readable.  I assume you're talking about the ConsoleLogger here.

That being said, you can always have a wrapper ILogger which adds the scope to each log message and call your logger of choice (i.e. ConsoleLogger) and use it via DI, which would help you have the behavior you wan

[2016-02-02 18:54] muratg commented on #346
@davidfowl @lodejard do we have an agreement here?

cc @Eilon

[2016-02-02 18:59] DasJott commented on #347
Thanks, @muratg! Maybe I could simply derive from Logger and implement the behavior I want, yes. I guess I will do that.
But what sense does that scope thing make if it hasn't any effect?

[2016-02-02 20:08] muratg commented on #347
Main reason is you may have a set of logical operations (i.e. in a using statement) that would be best logged together. For example [TraceSource logger scope](https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.TraceSource/TraceSourceScope.cs) helps that logger to start (when scope is created) and stop (when scope id disposed) tracing operations.

[2016-02-02 21:38] Eilon commented on #344
Not sure why I forgot to close this issue.

[2016-02-02 21:38] #344 closed

[2016-02-03 23:30] marcind commented on #341
You could have at least kept the rc1-final build of the package on nuget.org :(

[2016-02-04 05:05] Eilon commented on #341
@marcind can you use https://github.com/NLog/NLog.Framework.logging (though I'm not sure what NuGet feed that is on, if any)? @304NotModified has been working on that.

It was actually a mistake that we ever published the NLog provider we wrote - it was always intended as just a sample to prove out the design of `ILogger`. Of course you could just take the old sample code from here and re-use it..

[2016-02-04 21:01] BrennanConroy commented on #355
Fixed via 46c6d523fd323eba101f230b96111d3fa4dcfa46

[2016-02-04 21:01] #355 closed

[2016-02-05 18:02] marcind commented on #341
Nah, it's all good. The sudden disappearance of the package broke our automated deployment, but turns out we're not using it anyway.

[2016-02-07 19:43] chaim770 opened #359 "Is current implementation too pervasive?"
Following this StackOverflow post:
http://stackoverflow.com/questions/35251078/

It's seems like by default, all vendor code logging (Like `Microsoft.*` as well as other packages) would go through the configured log providers as well.

Isn't it a good idea to be able to easily disable frameworks/vendor libraries logging? Or perhaps expose a way to filter out (or set logging-level per) Types on the

[2016-02-07 20:26] gdoron commented on #359
I can understand the reasoning here, this is the only way that gives the application the flexibility of having each logger log different logging sources and severity.

I just think that once my application will grow to use let's say 20 middlewares it will be very difficult to keep track of which middleware is writing which logs etc.

I'm not sure there's a better design than what current we have,

[2016-02-07 22:50] nblumhardt commented on #359
All of the events through the new logging pipeline carry a bag of structured data that can be used to manage this. For example if you send the logs through Serilog, a `SourceContext` property gets attached like the one in the second-last line below:

![image](https://cloud.githubusercontent.com/assets/342712/12875911/34265ce4-ce40-11e5-9f86-a760cfaa980d.png)

This means you can exclude logs in a m

[2016-02-08 06:44] chaim770 commented on #359
@nblumhardt That's exactly the issue here. The current logging infrastructure does not expose anything such as your mentioned `SourceContext` nor `Filter`.

Although each provider can definitely opt in and out of some sources, it will be much clearer to expose that functionality on the common logging *interfaces* as well (such as `ILoggerProvider`).

[2016-02-09 04:48] nblumhardt commented on #359
Hi @chaim770 - the event shown above was generated by the current logging infrastructure (RC1) - not sure what you mean?

When it's passed to _Serilog_ we rename it `SourceContext` for consistency with other Serilog events, I think it comes through the _Microsoft.Extensions.Logging_ pipeline as "category name".

Let me know if I've misunderstood :-) Cheers!

[2016-02-09 09:50] gdoron commented on #359
@muratg @nblumhardt I can not think of a real application where a (DB/File/EventViewer) logger would log everything that ASP.NET tunnels through the logging on debug.
Each request will lead to more than 15 log entries just from ASP.NET logs.

So I believe it's mandatory for the ILogger to be changed to something like:

`bool IsEnabled(string source, LogLevel logLevel);`

Because without knowing th

[2016-02-09 10:00] muratg commented on #359
@gdoron We will just need a really good design for this if we ever want to support this at the base logger level. As @nblumhardt mentions, this is possible with certain implementations.

Adding a `string` based `IsEnabled` method may not be the best way to go for it.

cc @lodejard @davidfowl @DamianEdwards @Eilon for their thoughts on this.

[2016-02-09 11:02] chaim770 commented on #359
@muratg It already implemented (to some degree) in `ConsoleLogger` using `Func<string, LogLevel, bool>`.

See https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Console/ConsoleLoggerFactoryExtensions.cs#L80

[2016-02-09 17:03] muratg commented on #359
@chaim770 Yup, I think it's fine to do it in some specific implementations, but to me forcing ALL the implementations to do it via exposing it in the interface does not seem right.

[2016-02-09 17:41] gdoron commented on #359
@muratg question is do you think it's possible for a logger not to filter the messages tunneling through by the LogLevel **and** by the source?
I think the answer is no. If a logger will log every debug message ASP.NET or other middleware sends through the pipeline, not just it will be a serious performance bottleneck in the a application but it will also make the log unusable since it will be ful

[2016-02-09 17:54] davidfowl commented on #359
It's the wrong place to filter. The ILoggerProvider already has this information. When you create a logger, it's for a specific category/source. I think what you're asking for is a sink agnostic way to filter log messages. You're supposed to rely on the sink implementation of your choice to do that filtering.

That's what @nblumhardt was referring to earlier

[2016-02-09 17:58] TsengSR commented on #359
@gdoron:

It's not about the logger, it's about the logger provider.

As I've posted it in the SO comment already, the logger provider wraps around the actual logger library (except for the most simple logging like console logging, where it also directly logs the message). Since neither the application framework you use (ASP.NET MVC for example or the hosting system) knows about the logging librar

[2016-02-09 19:04] lodejard commented on #359
The ILogger.IsEnabled(level) already knows what the source string is - because the ILogger was created for a specific source. It can be more efficient that way because IsEnabled doesn't need to do any string comparisons per-log-call at runtime.

The logger factory itself shouldn't have any filtering policy because the third party logging providers you choose to add are expected to each have filter

[2016-02-09 19:15] gdoron commented on #359
@lodejard that makes perfect sense now, thank you very much for the answer!
I just didn't understand the wrapper idea, can you please give an example for such a wrapper?

[2016-02-09 20:07] lodejard commented on #359
@gdoron wow, I very rarely get a reply "that makes perfect sense". Thanks! :)

Here's an example of a filtering logger provider https://github.com/aspnet/Logging/commit/bf2314a9a139ae04fd7310d5df99b0cbe968ae35#diff-459e7bd4d619a1efc2739dff9398cf91R28

It's in a different assembly independent of the logger factory and providers, so it's completely opt-in and you can put it in place like this:
[code

[2016-02-10 08:10] chaim770 commented on #359
@lodejard Thanks for the explanation.

My initial post on this issue indeed mentioned `ILoggerProvider` as a possible candidate for filtering.

[2016-02-10 18:44] gdoron commented on #359
@lodejard Thanks for the demo, really neat, I always liked fluent decorator API.
I'll tell you what, whenever one of the _Scott_s are giving you hard time at the office ping me and I'll say you make perfect sense. ;)

[2016-02-11 01:15] lodejard commented on #359
@chaim770 ah, yes! good idea :)

[2016-02-12 11:35] eriksendc opened #361 "How to log in ConfigureServices"
Hi All,

I've done some searching through existing and closed issues, but I apologize in advance if this is something previously surfaced:

The standard template for Startup.cs has logging being configured in Configure(), but ConfigureServices runs first. I happen to be troubleshooting something with respect to reading configuration values from environment variables and went to put in some debug l

[2016-02-12 19:04] herecydev commented on #361
There's an issue a few down that describes this problem: https://github.com/aspnet/Logging/issues/346

Essentially, the `ILoggerFactory` can't be resolved yet because the `IServiceProvider` that results from the `ConfigureServices` hasn't been built yet and therefore can't resolve it. You could build some `IOptions<LoggingOptions>` during the `ConfigureServices` and use it during `Configure`. Not

[2016-02-13 08:23] herecydev commented on #332
The `ILogger` provided in this repo is supposed to be a common logging abstraction. What I have done typically is use the abstraction in my libraries everywhere and log all the things. Then in my composition root I bind up where I need that to be. Sometime the console logger feels correct so I can simply use the provider [in this repo](https://github.com/aspnet/Logging/tree/dev/src/Microsoft.Exten

[2016-02-15 20:48] cwe1ss commented on #350
Wouldn't it be good to also have `Log....(this ILogger logger, Exception exception, string message, params object[] args);` to support writing Exceptions without an EventId? As far as I understood, those EventIds are optional, right?

[2016-02-15 21:03] cwe1ss commented on #346
+10! I think it would be great if Logging could be configured as early as possible.

Ideally it should happen as the first thing in Program.cs to be able to log initialization exceptions. Just think of the case where you start the web application on a port that's already taken. It's not possible to log this right now, right?

[2016-02-15 21:17] cwe1ss commented on #294
I've just seen that I posted the same question in the discussion about the recent API changes: https://github.com/aspnet/Logging/issues/350

It appears to be a very useful overload so I think this would be a great addition!

[2016-02-15 21:34] cwe1ss commented on #295
This use case is important if you don't use EventIds. In this case the OriginalFormat-string is the only way to do reports on your logs. You would just use `SELECT COUNT(*) FROM logs WHERE OriginalFormat = "User typed '{input}'"` to filter for certain log messages or `SELECT TOP 10 OriginalFormat, COUNT(*) FROM logs GROUP BY OriginalFormat ORDER BY 2 DESC` to get the log messages with the most occ

[2016-02-15 22:11] nblumhardt commented on #295
:+1: for exposing `OriginalFormat` as a property, this would be nicer for the Serilog integration to work with. As @cwe1ss mentions, it's a core part of the story for message template-based structured logging.

@muratg @MikeyBurkman `"OriginalFormat"` is exposed in a public dictionary - so not strictly an internal implementation detail.

Let me know if you need any more info on the use case; `Orig

[2016-02-15 22:13] cwe1ss commented on #332
thx for your comment, @herecydev !  As long as you only have one (or very few) logging abstractions, everything is ok and it would be exactly as you've described it. This is the scenario I would like to see in the future.

However I'm talking about the fact that there is an increasing amount of logger abstractions and application developers have no choice than to write/find adapters for every libr